[2018-08-30 23:51] ahmelsayed opened #732 "No template for creating EventHub trigger locally"
_From @jsnikhil on August 29, 2018 0:25_

Trying to create a new function locally, and I don't see an option to create a EventHub trigger function. Is this expected?

[code]

OS: macOs 10.13.6

_Copied from original issue: Azure/azure-functions-core-tools#669_

[2018-09-05 00:56] MicahMcKittrick-MSFT commented on #720
@soninaren would you be able to have someone look into this?

[2018-09-05 19:07] paulbatum commented on #646
@asavaritayal I see the linked PR for adding the service bus template, and that was the last missing item tracked in the list above. Can this be closed now?

[2018-09-05 19:16] paulbatum commented on #716
Hey @cartermp any updates on this?

[2018-09-06 01:58] cartermp commented on #716
Hey there, sorry for lack of response here - I can get to this this week.

[2018-09-07 20:31] asavaritayal commented on #646
Yes, closing the issue as this is now done.

[2018-09-07 20:31] #646 closed

[2018-09-07 20:57] davidebbo opened #737 "v2 VS template for http function is not async"
I was async in v1. In v2, we have:

[code]

And then it uses synchronous calls like:

[code]

We should change it to async, and await those calls.

[2018-09-07 22:04] paulbatum commented on #716
Catching this issue up based on further investigation and discussion. There are a number of known issues with FSI support on .NET core 2.0 that impact the ability to support "fsx" functions in V2. For more info see here: https://github.com/Microsoft/visualfsharp/issues/2407. Marking this as blocked.

[2018-09-08 09:00] forki commented on #716
But samples/templates for precompiled functions would be great.

[2018-09-11 12:03] AlissonRS commented on #597
I'm facing this very same issue. Just created a template project, and it fails to compile because `Microsoft.ServiceBus.Messaging` is missing.

[2018-09-11 17:47] soninaren commented on #727
i was not able to repro this, @brettsam can you take a look?

[2018-09-12 21:09] jeffhollan commented on #670
This will be especially useful for the Durable Function template.  Note that I think we should do the name of the **method** and not the name of the class?  Specifically for durable template you have multiple functions in same class:

[code]

[2018-09-12 21:10] jeffhollan commented on #670
@cgillum as FYI - I think I'm quite partial to switching docs and samples for durable to use `nameof()` instead. Makes renaming a bit easier and clear relationship at a compile-time level for things like `CallActivityAsync` and the function.

[2018-09-13 18:57] pragnagopa opened #740 "Add support for powershell templates"
Separate template nuget package that CLI can consume will be helpful.

[2018-09-13 19:37] paulbatum commented on #670
I still can't remember why we didn't do this the first time it came up. Is it possible that there are valid C# method names that are invalid function names? That might be a reason.

[2018-09-13 20:16] cgillum commented on #670
I recall either Mike saying this or reading a comment in the WebJobs code that function names must be valid C# identifiers. If that's the case, it seems like it would be safe to do this. But even so, if we control the templates.

I considered that maybe there was a reason related to name conflicts (e.g. if two functions had the same method name - like method overloads) but even then I think WebJob

[2018-09-14 20:58] paulbatum opened #741 "Remove dashboard from local.settings.json"

[2018-09-18 21:15] jeffhollan opened #743 "Removed `disabled` property for `function.json`"
To reflect the change in v2

[2018-09-18 21:47] soninaren opened #744 "Add Twilio binding metadata in bindings.json"

[2018-09-19 01:56] ColbyTresness opened #747 "JS Event Grid create marked as experimental"
![image](https://user-images.githubusercontent.com/7645687/45726544-85c9de80-bb74-11e8-9d97-2bee10264ae6.png)

[2018-09-19 16:51] phenning opened #748 "V2 Azure Functions HTTP Trigger template has blank first line in cs file."
Blank line at beginning of file:

![function](https://user-images.githubusercontent.com/2433750/45768377-8fddf280-bbf1-11e8-90b8-1873e1538406.png)

[2018-09-19 16:55] phenning opened #749 "Errors show up after adding a Blob trigger function on Azure Function V2 Project with "Microsoft.NET.Sdk.Functions" verison 1.0.21 : "Metadata generation failed."."
With latest 15.9 preview:

1. File > New Project > Azure Functions >Azure Functions v2 (.Net Core) with Empty template + Storage Emulator selected.
2.Open Manage Nuget Packages to update the "Microsoft.NET.Sdk.Functions" verison to 1.0.21
3. Right click project -> Add New Item-> New Azure Function...
4.Select the Blob trigger function and set the connection to "AzureWebJobsStorage".Click OK.
5. Bu

[2018-09-25 17:51] paulbatum opened #752 "Cosmos input/output is missing from V2 binding data"
A customer should be able to use the integrate tab to add cosmos input or output to a V2 function. This is currently not available.

[2018-09-25 21:10] paulbatum opened #753 "Table Storage input/output is missing from V2 binding data"
A customer should be able to use the integrate tab to add table storage input or output to a V2 function. This is currently not available.

[2018-09-27 10:28] soninaren commented on #752
Fixed in
https://github.com/Azure/azure-functions-templates/pull/755

[2018-09-27 10:28] #752 closed

[2018-09-27 21:57] mathewc opened #756 "ServiceBus Template disallows $DeadLetter"
It's a valid scenario for users to create a Service Bus queue triggered function that processes dead letter messages for their queue. For a queue "foo", the dead letter queue is "foo/$DeadLetter". We need to allow that in the UI.

Customers have noticed this and have worked around using the advanced editor. See: https://blog.jeroenmaes.eu/2017/01/process-service-bus-dead-letter-message-with-azure-

[2018-09-28 16:39] options opened #757 "How about utilize nameof() and chage function name in template"
How about change C# template like below form?

[FunctionName(nameof(HttpTriggerCSharp))
public static ...HttpTriggerCSharp(...)
{
...
}

I think all of functions name has Run()  might not reasonable. and utilize nameof() could be very helpful to change function name and readibility
.

[2018-10-01 17:59] paulbatum opened #758 "Update default project template for V2 to be .NET core 2.1"
Part of https://github.com/Azure/Azure-Functions/issues/805

The target framework used in our current V2 project template is `netstandard2.0`. We should switch it over to `netcoreapp2.1` once the relevant fixes have been made in Microsoft.NET.Sdk.Functions to allow this.

[2018-10-01 18:00] #747 closed

[2018-10-02 16:42] agruning opened #760 "Card should read Azure Cosmos DB"
From @ggailey777:

Per the Cloud Style Guide, the name of our Cosmos DB service must always include Azure:

Always use Azure to distinguish the service name as an Azure service.

![image](https://user-images.githubusercontent.com/8560637/46363283-6b3d3e00-c627-11e8-988e-c0bf658fe4b6.png)

It's a legal/branding thing—they were very adamant about it in our docs.

[2018-10-03 19:14] soninaren commented on #760
Fixed in here https://github.com/Azure/azure-functions-templates/commit/7b63c877cba16853a35f3fdba852232038d4454b

[2018-10-03 19:14] #760 closed

[2018-10-03 19:50] soninaren commented on #704
This is done, it is using 1.6.2

[2018-10-03 19:50] #704 closed

[2018-10-03 19:56] ggailey777 opened #762 "Stop appending lang to the function name in v2"
It was important in v1 to callout the language of a function, hence appending the language name (HttpTriggerCsharp1, BlobTrigerJS2). However, now that all functions in an app must use the same language worker runtime, we should stop appending the language to template-generated functions in v2.

[2018-10-03 20:52] EricJizbaMSFT commented on #732
Same behavior for the VS Code extension as pointed out by @timmyreilly. We don't see EventHub listed in the v2 JavaScript templates from the cli-feed.

[2018-10-03 21:40] maiqbal11 commented on #753
Checked in #761

[2018-10-03 21:40] #753 closed

[2018-10-05 16:27] agruning commented on #760
Hey @soninaren I don't think you should remove "trigger" from the end

[2018-10-05 19:27] deepumi commented on #758
@paulbatum According to the blog, netcore 2.0 framework support already ended on October 1 2018 correct?

https://blogs.msdn.microsoft.com/dotnet/2018/06/20/net-core-2-0-will-reach-end-of-life-on-september-1-2018/

How can I upgrade existing 2.0 app to 2.1 for HTTP trigger azure function?

[2018-10-05 19:42] soninaren commented on #760
You are right, Good catch. i was looking at the list of bindings which did not have trigger in the end. got me confused. Have added it back. https://github.com/Azure/azure-functions-templates/commit/4a1352b6d48a21ad3c2050547cc98bb242a95781

 Though none of our other bindings in the new template UI azure branding.
![image](https://user-images.githubusercontent.com/8119379/46556534-cf683800-c89b-11e

[2018-10-05 20:14] alexkarcher-msft opened #766 "Add Proxies Item template to VS"
The "add Item" UI should allow the user to create a new Proxies.json file.

![image](https://user-images.githubusercontent.com/22549328/46557942-69ca7a80-c8a0-11e8-9a10-5f6bf981623c.png)

Adding an "Azure Function Proxy" item that then adds a sample proxies.json

This is related to this template PR https://github.com/Azure/azure-functions-templates/pull/764

[2018-10-05 20:16] soninaren commented on #762
Added a PR
https://github.com/Azure/azure-functions-templates/pull/767

[2018-10-10 03:46] JohnReeson opened #769 "VS function creation dialog uses old template the first time I open it"
[This suggestion](https://github.com/Azure/azure-functions-core-tools/issues/694#issuecomment-423262558) by @soninaren  works perfectly. Afterwards I follow [another suggestion](https://github.com/Azure/azure-functions-core-tools/issues/694#issuecomment-422196447) to make VS download CLI in a better network env.

However the first time I open the dialog after those deletion, it shows old templates

[2018-10-11 07:07] mhoeger opened #771 "Node Templates - return with $return or return object"
context.bindings.namedOutput is currently the default, but it is likely a better _async JS functions pattern_ to use return values, either by directly returning and using $return, or by returning the object. Here is some more context: https://github.com/Azure/Azure-Functions/issues/431

From issue:

[2018-10-12 09:02] Andy-Win commented on #749
With latest 15.9 preview4(d15.9stg.28210.3005)

1.File > New Project > Azure Functions >Azure Functions **v1** (.Net framework) with Empty template + Storage Emulator selected.
2.Open Manage Nuget Packages to update the "Microsoft.NET.Sdk.Functions" verison to **1.0.23**
3.Right click project -> Add New Item-> New Azure Function...
4.Select the Http trigger function .Click OK.
5.Build.

Then the s

[2018-10-13 16:23] agruning opened #774 "IotHub Trigger template missing in the portal (regression from V1)"
Migrated from: https://github.com/Azure/azure-functions-ux/issues/3280

[2018-10-15 19:57] soninaren commented on #748
Fixed in this PR
https://github.com/Azure/azure-functions-templates/pull/759/files

[2018-10-15 19:57] #748 closed

[2018-10-15 23:14] jeffhollan opened #775 "Add missing triggers to initial splash screen in VS templates"
Right now we're missing (from what I can see):

1. Event Grid
1. Durable Functions (ideally this is the template that has the activity, orchestrator, and http_start

[2018-10-17 04:02] Jessiexly commented on #749
Only on Dev15.7.6 and Dev15.6.7
Same steps except updating the "Microsoft.NET.Sdk.Functions" verison to 1.0.23, build with errors:

It was not possible to find any compatible framework version
The specified framework 'Microsoft.NETCore.App', version '2.1.0' was not found.
  - Check application dependencies and target a framework version installed at:
      \
  - Alternatively, install the framewor

[2018-10-17 09:17] pconnell99 commented on #749
Same (or similar) here for a V1 project (I'm a javascript dev so this is all new to me).  Brand new Functions v1 with target platform net461.  Trying to build shows:-

[code]

[2018-10-18 17:59] phenning opened #777 "Run Azure Functions v2 (.Net Core) with Empty template with updating "Azure Functions and Web Jobs Tools" to the latest version, an exception thrown about 'Microsoft.WindowsAzure.Storage.StorageException' in Output"
Reported by our vendor team (bug 706744)

**INSTALL STEPS:**
1. Win server 2012 R2 ENU : Clean machine
2. Install VSE Dev15.7.6 VSP(d15.7.27703.2047)

Select Web + Azure workload with 1.x tools checked

3. After initial installation, go to Tools -> Extensions and Updates > Updates >  Update "Azure Functions and Web Jobs Tools" to the latest version.(Version 15.10.2009.0)

**REPRO STEPS:**
1. After

[2018-10-18 18:01] phenning commented on #777
@paulbatum @soninaren

This was reported by our CTI team and seems to be a problem with the CLI and not tooling.

[2018-10-18 20:06] #744 closed

[2018-10-18 21:37] #762 closed

[2018-10-19 09:14] JohnReeson commented on #724
Able to see binding templates in portal, issue can be closed. [PR merged](https://github.com/Azure/azure-functions-templates/pull/755).

[2018-10-19 17:42] jasonrmartin commented on #749
I have the same issue.  Switching back to Microsoft.NET.Sdk.Function v1.0.22 fixed for me.

[2018-10-19 18:16] #724 closed

[2018-10-19 19:49] soninaren commented on #714
Fixed in this commit
https://github.com/Azure/azure-functions-templates/commit/2e82f02ec24d9e95a694dca6a9f7a0829f7bed35

[2018-10-19 19:49] #714 closed

[2018-10-19 19:53] soninaren commented on #775
This will be addressed in Dev 16. This is a workitem on VS Folks as we don't control that list. @nimakms Can you add this to list of work items you are tracking for Dev 16?.

[2018-10-19 19:53] #775 closed

[2018-10-19 23:03] soninaren commented on #715
Adding related portal issue..
We have opened an issue in portal to not append eventhub name when selecting through the wizard.

https://github.com/Azure/azure-functions-ux/issues/2735
https://msazure.visualstudio.com/Antares/_workitems/edit/3124678

[2018-10-20 06:48] JohnReeson opened #791 "v1 function project template Microsoft.NET.Sdk.Functions version inconsistent"
See v1 Function SDK version is [1.0.19 on feed 1.4.0](https://github.com/Azure/azure-functions-tooling-feed/blob/e9e434ef25b78502c1ab4052ffc0e38486b29d35/cli-feed-v3.json#L482).

However projectTemplates v1.0.3.10213 on the feed shows SDK is 1.0.14, which makes new create v1 function use 1.0.14 SDK.

[2018-10-22 05:38] JohnReeson opened #792 "csharp suffix removed makes queue name invalid"
https://github.com/Azure/azure-functions-templates/blob/20bde0b0ea46ebde088f257a333501e6dd89a3e3/Functions.Templates/Templates/SendGrid-CSharp/function.json#L7

queueName can't end with "-"

[2018-10-22 19:00] #741 closed

[2018-10-25 16:31] soninaren commented on #792
Addressed in https://github.com/Azure/azure-functions-templates/commit/1e4c65a5a9db8e1b2f2d87a7c7d03463f4e626f3

[2018-10-25 16:31] #792 closed

[2018-10-27 16:49] davidrevoledo commented on #749
Same here and back to `Microsoft.NET.Sdk.Function v1.0.22` worked, there is a problem with 1.0.23?

[2018-10-29 15:46] EricJizbaMSFT opened #798 "AuthLevel is ignored for CSharp HttpTrigger"
Issue originally filed here by @davemurphysf: https://github.com/Microsoft/vscode-azurefunctions/issues/768

No matter what gets passed in, "Function" is used for the authLevel. Looks like @soninaren @fabiocav changed `AuthorizationLevel.AuthLevelValue` to `AuthorizationLevel.Function` in this PR: https://github.com/Azure/azure-functions-templates/pull/759. I'm guessing we can just change it back

[2018-10-29 18:35] soninaren commented on #798
Fixed in https://github.com/Azure/azure-functions-templates/pull/799

[2018-10-29 20:11] #758 closed

[2018-10-29 21:42] #774 closed

[2018-10-29 21:47] #798 closed

[2018-10-30 22:13] agruning commented on #774
@wickste this is now in production 😊

[2018-10-30 22:20] wickste commented on #774
Awesome - thanks!

[2018-11-01 22:26] mhoeger opened #801 "Blob trigger name wrong"
[code]
name property now "blobTrigger"

[2018-11-07 13:35] andystroz opened #803 "Update the EventGridTrigger Template to the Functions Runtime 2.x"
I am looking for a functions runtime 2.x EventGridTrigger template for my C# project.

[2018-11-08 20:04] ColbyTresness opened #804 "Add templates for TypeScript"
Add templates for supported TypeScript scenarios, once Functions core tools supports TS.

[2018-11-14 20:48] soninaren commented on #803
It is actually there, according to the referenced issue it looks like VS Code is not listing it. Eventgrid trigger is using the same identity as v1 templates causing the confusion. But it should be listed there. I will investigate to see what is going on there.

[2018-11-14 21:01] soninaren opened #808 "Host template packages on NuGet instead of myget."

[2018-11-26 16:31] jameshowe opened #811 "How do we expose the IoT Hub device ID from an Azure Event Hubs trigger using Node?"
Here's a snapshot of what we currently have access to in `bindingData`:

[code]

As per the [C#](https://stackoverflow.com/questions/42003600/azure-iot-hub-eventhub-and-functions) workaround, is there a way to expose additional metadata in Node? This is stopping me from using this trigger as my app uses the IoT Hub device ID as a ref key.

[2018-11-28 20:20] soninaren commented on #808
This is done

[2018-11-28 20:20] #808 closed

[2018-11-29 19:38] fabiocav commented on #811
/cc @mathewc for investigation

[2018-11-30 01:37] JohnReeson commented on #769
Perhaps we need to add one more tip in the [wiki](https://github.com/Azure/azure-functions-tooling-feed/wiki/Fixing-Azure-Function-Core-Tools-download-issues-for-Visual-Studio) like

    If you want to create a new project instantly, close and reopen the dialog to load the latest templates.

[2018-11-30 09:40] JohnReeson commented on #769
Close as I missed the obvious `Refresh`

[2018-11-30 09:40] #769 closed

[2018-12-03 14:56] andystroz commented on #803
Hello @soninaren,

Any update on the template?

[2018-12-03 18:38] phenning opened #813 "Create an Azure Function project, add blob trigger function meet error:Version conflict detected for Newtonsoft.Json."
Discovered in E2E testing:

REPRO STEPS
1.File > New > Project > Azure Function > Create > Azure Function v2(.NET Core) ~ Empty ~ Storage Emulator > Ok.
2.Right click project > Add > New Azure Function > Azure Function ~ Add > Blob trigger  ~ AzureWebJobsStorage ~ ok

Note: 1.Only repro in the first time to create Azure function project.
          2.Update Microsoft.NET.Sdk.Functions from 1.0.13 t

[2018-12-03 23:53] mathewc commented on #811
As explained in an old Functions v1 SO post [here](https://stackoverflow.com/questions/42003600/azure-iot-hub-eventhub-and-functions) the iothub-connection-device-id used to be in the EventData.SystemProperties dictionary.

In Functions v2, we're using the latest EventHubs SDK, and EventData.SystemProperties has changed from an extensible dictionary to a contract type - see doc [here](https://docs

[2018-12-04 09:16] JohnReeson commented on #791
Close as fixed in new release

[2018-12-04 09:16] #791 closed

[2018-12-06 20:24] markbruceg opened #816 "External Table Binding Dynamics 365 Operations"
Please can you advise what config values I should use to create an input binding to a dynamics data entity? eg.  Entity Name = SalesOrderCharges
Thanks

[2018-12-11 07:11] shibayan opened #817 "C# Item Template is garbled in multi-byte characters (CJK)"
Using multibyte characters causes garbled characters.
Visual Studio saves file in Windows default encoding if the file does not have UTF-8 BOM.

[2018-12-25 08:55] JohnReeson commented on #801
Right now in portal, with `name` I get blobName, `blobTrigger` gives me conatinerName/blobName, is there some change to be made soon?

[2018-12-27 19:53] ahmelsayed opened #818 "SendGrid sample should add a dependency on storage extension."
[code]

[2019-01-02 20:10] pragnagopa commented on #811
Closing this as issue https://github.com/Azure/azure-webjobs-sdk/issues/2068 will be tracking fix for this.

[2019-01-02 20:10] #811 closed

[2019-01-03 21:53] TylerLeonhardt opened #820 "Make repo cross-platform"
Today, I can't build this project on Non-Windows, sadly. It'd be much easier if it was - especially since Azure Functions is an OS-agnostic product.

I've managed to make the getTools.ps1 in the repo crossplat with minimal effort, but the script downloads a bunch of exe's which I sadly can't run on my mac.

If those exes are also .NET projects, I would suggest making them OS-agnostic and rely on `

[2019-01-09 17:44] mathewc opened #822 "Python HttpTrigger templates need to use "function" auth level"
Currently these templates are using "anonymous" (See [here](https://github.com/Azure/azure-functions-templates/blob/ef736c5c91995065d6bc96cd7c9134de6c38c237/Functions.Templates/Templates/HttpTrigger-Python/function.json#L5)). This needs to be "function" (same as all the other language templates).

[2019-01-09 19:47] fabiocav commented on #715
Closing this as it is being tracked by the portal team.

[2019-01-09 19:47] #715 closed

[2019-01-09 21:11] soninaren opened #823 "Fix sendgrid templates"
Sendgrid templates currently use storage bindings. Need to add metadata to install storage extension as well as sendgrid extensions.

[2019-01-11 17:13] jstallm commented on #756
Im also curious if we have differences between setting up the trigger for the function when its between queues and topics.

[2019-01-11 19:09] soninaren commented on #823
fixed in here https://github.com/Azure/azure-functions-templates/commit/7209d8575af5a28c2026dc70299d83b17b9e9ce1

[2019-01-11 19:09] #823 closed

[2019-01-11 19:12] soninaren commented on #818
Fixed in here
https://github.com/Azure/azure-functions-templates/commit/7209d8575af5a28c2026dc70299d83b17b9e9ce1

[2019-01-11 19:12] #818 closed

[2019-01-17 05:19] asavaritayal opened #827 "Remove default:false from all templates"
`default : false` doesn't mean anything anymore for v2 and is confusion amongst users. We should remove the property from all templates.

[2019-01-17 05:21] asavaritayal opened #828 "Remove sample.dat from all non-portal feeds"
`sample.dat` is not relevant for client tools and should be removed from all feeds except the portal.

[2019-01-17 21:02] mhoeger commented on #804
Steps include:
 - [ ] Create function app template
 - [ ] Create function templates (parity with other languages)
 - [ ] Separate list of templates that get served to Portal vs. local environments
 - [ ] Add TS template for local environments

[2019-01-23 19:15] NRKirby opened #829 "Azure functions app runtime is .NET Core 2.1"
I am unable to reference a .NET Core 2.2 project from an Azure Functions v2 project.

When I run the Function app project the runtime appears to be 2.1. My understanding is that from release 2.0.12265 the runtime should be 2.2.

#### Investigative information

- Version 2.0

#### Repro steps

- Run the application

#### Expected behavior

- The runtime should be 2.2

#### Actual behavior

- The ru

[2019-01-23 19:40] paulbatum commented on #293
I was the bottleneck on this, sorry. Once we switch to batching, we need to provide an error handling example in the template, otherwise people will naturally lose data without any attempt at processing it. So you are correct we need to combine with #705.

Here is what I have so far. I've tested this, seems to work well:

[code]

[2019-01-23 19:42] paulbatum commented on #293
I need to make some tweaks to make it clearer that the message itself needs to be captured somewhere so it can be retried. Will send another revision.

[2019-01-23 19:51] paulbatum commented on #293
I should add that I think this template should probably be switched from string to EventData so that we can show users how to extract a string from EventData since its not obvious. I did this in the example above.

[2019-01-23 20:51] paulbatum commented on #293
Instead of pasting inline I'm using a gist (did not want to create a PR because I would have to make the template also support csx)
https://gist.github.com/paulbatum/ebdca12ba4b95700f1cc0e08aa213252

[2019-01-23 21:12] fabiocav commented on #777
@soninaren can we just validate whether this is still an issue?

[2019-01-24 18:32] soninaren commented on #293
I can take this one and release it along the durable template update i will be pushing in the current release.

[2019-01-24 18:42] paulbatum commented on #293
The gist has been updated based on feedback. @soninaren can you take this over and handle the csx case?

[2019-01-24 18:42] soninaren opened #830 "Update the Durable extension version"
related to https://github.com/MicrosoftDocs/azure-docs/issues/23213

[2019-01-25 21:12] soninaren commented on #830
Fixed in this commit

[2019-01-25 21:12] #830 closed

[2019-01-25 22:37] #293 closed

[2019-01-25 22:46] soninaren opened #833 "VS and portal template release"

[2019-01-25 23:14] soninaren commented on #833
Template version 2.0.10333 has been uploaded.

[2019-01-25 23:14] #833 closed

[2019-01-28 21:54] phenning opened #834 "[Feedback] Azure Functions app won't run after update to Visual Studio v15.9.5"
Updated to 15.9.5 today, and now my Azure Functions app won't run because it can't find `System.Runtime.CompilerServices.Unsafe.dll`

This is repeatable with a brand new solution (attached). I have also had this problem with an ASP.NET Core MVC app, but adding a package reference to `Unsafe` resolved that (doesn't work with Azure Functions app).

This is from developer community feedback in Visual

[2019-02-05 23:45] soninaren commented on #777
i was able to get the following exceptions when trying to repro the issue. i got the following exceptions. However the above exceptions are expected and are swallowed by the function runtime.
[code]

FileNotFoundException is thrown because function runtime looks inside the bin directory for function.json file.
Microsoft.WindowsAzure.Storage.StorageException is cause by function runtime trying to o

[2019-02-05 23:45] #777 closed

[2019-02-06 10:55] asavaritayal commented on #822
https://github.com/Azure/azure-functions-templates/commit/0e54ad71670f89a5b21d70a6b584865ecd81c47c

[2019-02-06 10:55] #822 closed

[2019-02-06 21:54] fabiocav commented on #705
@paulbatum moving this to 43. Let me know if you want me to change that.

[2019-02-06 21:56] fabiocav commented on #705
Was this completed with the change here?
https://github.com/Azure/azure-functions-templates/issues/293

@soninaren

[2019-02-06 22:21] soninaren commented on #705
@fabiocav Yes looks like it has been handled with the template update.

[2019-02-06 22:21] #705 closed

[2019-02-09 17:14] wobba commented on #645
Take a look at https://devkimchi.com/2019/02/02/introducing-swagger-ui-on-azure-functions/ and the github repo for it https://github.com/aliencube/AzureFunctions.Extensions and the nuget package https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/

[2019-02-11 22:00] Dubl commented on #543
hello, please forgive me if this isn't the right place to post, but I'm having the same issue- I had a project that was working fine last year but now am getting the same result as above. It's in the context of a httptrigger function in a logic app. It works fine in the test window of the portal, but when called from the logic app, returns a blank body (which shows (correctly) as json in the execu

[2019-02-12 11:12] svjmandryk commented on #494
it's quite cumbersome to share these local settings among developers without version control. especially after some time passes and no one remembers what values are expected there

[2019-02-13 02:12] mhoeger opened #835 "Add function TypeScript templates"
Add function-level templates for TypeScript

[2019-02-16 01:16] ColbyTresness opened #837 "Add detailed node version to templates feed"
Currently, node version refers to a min version. This is being used by VS Code as the desired node version. We should have a more detailed object in the templates feed which specifies min, default, and max node version.

[2019-02-16 01:18] ColbyTresness opened #838 "Language version by template"
Templates should have acceptable language versions associated with them to combat a potential situation where we have templates built with a version of a language we don't support anymore

[2019-02-20 21:07] #835 closed

[2019-02-25 19:59] phenning opened #840 "Multiple SendGrid templates added to project result in compile error"
If you create two SendGrid item templates, you end up with a compile error after the second is created due to the Order class which is added to both source files.

In order to avoid this, could the Order class be an embedded class of the function?

[2019-02-25 20:10] phenning opened #841 "SendGrid template does not handle the "ApiKey" properly."
When creating a SendGrid template, the APIKey value ends up as the property name for the SendGrid return Attribute.

Ideally, the Name of the API key should go here, with the key/value pair being stuffed into local.settings.json. However, there is no support for modifying existing files in the functions add item dialog. The Azure Functions VS tooling team has a work item to try to address this, bu

[2019-02-27 22:37] #804 closed

[2019-03-01 11:29] sajid08 opened #842 "Getting Function Key in ARM Template - Fails Intermittently"
Hi I am getting the Function Key and Trigger Url as Output in our Arm Template, using the following code.

[code]
We have the 'AzureWebJobsSecretStorageType' set to 'Files' in the App Settings as it doesn't work without it in Functions v2, when we execute the ARM template, it works sometimes but other times it throws the following error, we have observed that mainly it's when we are deploying the

[2019-03-04 22:46] soninaren opened #843 "Create template and binding metadata for SignalR Service extension"

[2019-03-05 22:48] soninaren opened #844 "Update templates to use the latest extensions."

[2019-03-14 19:00] ColbyTresness opened #847 "Visual Studio item templates should include "using System;""
_From @Andrew-MSFT on May 9, 2018 17:26_

the item templates don't currently include using System, it's very rare when writing meaningful C# code that you don't use a type from system, and it's annoying to have to keep adding it.

_Copied from original issue: Azure/Azure-Functions#799_

[2019-03-14 19:00] ColbyTresness commented on #847
@soninaren do you think this should be in the templates repo or is it appropriate to track here?

[2019-03-14 19:00] ColbyTresness commented on #847
_From @soninaren on March 14, 2019 18:39_

@ColbyTresness yes this should be in the templates repo

[2019-03-14 22:44] ColbyTresness opened #848 "Function project with dashes in title does not compile"
_From @paulbatum on June 16, 2017 0:2_

To repro:
1. Using functions tools for VS 2017, make a new function project with dashes in title e.g. "functions-example"
2. Add a function (such as http trigger)
3. Attempt to compile

Expected result:
Compilation is successful. The default namespace has its dashes replaced with underscores

Actual result:
Compilation fails due to namespace having a dash.

[2019-03-14 22:44] ColbyTresness commented on #848
_From @codymullins on September 19, 2017 15:36_

yeah, this got me too. especially since the naming conventions usually state to use dashes for azure resources.

[2019-03-14 22:44] ColbyTresness commented on #848
This issue was moved to Azure/azure-functions-vs-build-sdk#289

[2019-03-14 22:44] ColbyTresness commented on #848
Reverting move, tracking here.

[2019-03-14 22:45] ColbyTresness opened #849 "[Visual Studio] NuGet packages and base Function files fail to load if project folder contains ‘%20’ in the folder path"
_From @mcollier on September 28, 2017 18:54_

If the project folder contains ‘%20’ in the path, NuGet packages dependencies for Microsoft.NET.Sdk.Functions (1.0.2) fail to load.  Additionally, base Function files such as local.settings.json, host.json, and .gitignore fail to be load.  The local.settings.json, host.json, and .gitignore files are generated/available on the file system.

**With %20 i

[2019-03-14 22:45] ColbyTresness commented on #849
This issue was moved to Azure/azure-functions-vs-build-sdk#295

[2019-03-14 22:45] ColbyTresness commented on #849
Reverting move, tracking here.

[2019-03-14 22:54] ColbyTresness opened #850 "Access Rights field in New Function template is confusing"
_From @ggailey777 on March 27, 2018 21:57_

Customers have reported confusion about the **Access rights** field for an HTTP trigger Visual Studio:

![image](https://user-images.githubusercontent.com/1388263/37997149-f45a5ff8-31ce-11e8-8958-593274f66345.png)

This field is in both the new function and new function app template. Can we instead use **Authorization level**, so that it closer to the HT

[2019-03-14 22:54] ColbyTresness commented on #850
_From @Mike-EEE on March 28, 2018 10:40_

+1 to renaming to Authorization Level. Additionally, it would be incredibly useful to link to the documentation in regards to these levels.

Also, please consider renaming "Admin" to "Host" or "Host Key" to be consistent with the documentation.  If you use "Host Key", consider also renaming "Function" to "Function Key" to keep everything consistent.

[2019-03-14 22:54] ColbyTresness commented on #850
_From @Mike-EEE on March 28, 2018 14:1_

I'm going to get myself in trouble here. 😆

Been thinking about this a little more.  Another consideration might be something like this:

http://michael351.webflow.io/

This would be wrapped in a group control (which is not readily available at webflow, unfortunately) named `Security` and allows the user to select between all 3 states in a more intuitive ma

[2019-03-14 22:54] ColbyTresness commented on #850
@nimakms  for VS

[2019-03-14 22:54] ColbyTresness commented on #850
This actually comes from the templates repo, moving there.

[2019-03-14 22:54] ColbyTresness opened #851 "Update Visual Studio item template "Connection" string to make it clearer what it does"
_From @Andrew-MSFT on April 14, 2018 15:58_

Currently when a user creates a new Azure Function in Visual Studio, for trigger types that require a connection string, it just says "Connection" (VS displays this information from the item template).

This is confusing if you don't know what it does, changing the string to "Connection String Key" would be clearer that the user is providing the key nam

[2019-03-14 22:54] ColbyTresness commented on #851
_From @mhoeger on April 16, 2018 17:50_

@jeffhollan - This seems like a good suggestion! Would you mind triaging?

[2019-03-14 22:54] ColbyTresness commented on #851
@nimakms I think this is in the pipeline, but adding you here in case

[2019-03-14 22:54] ColbyTresness commented on #851
_From @JohnReeson on December 31, 2018 6:3_

See `Connection string setting` right now.

![capture](https://user-images.githubusercontent.com/35160013/50555253-99085080-0d04-11e9-9365-29b285a9f807.JPG)

[2019-03-14 22:54] ColbyTresness commented on #851
_From @Andrew-MSFT on January 2, 2019 17:20_

Do you think "setting" is as clear as "name" or "key"?

[2019-03-14 22:54] ColbyTresness commented on #851
_From @JohnReeson on January 3, 2019 2:33_

@Andrew-MSFT Hmm, I am just an Azure Function leaner but IMO it's fine, which indicates it's a setting in local.settings.json or app settings on Azure.  When I get started with Azure Function, I would go for the document first, where I could understand the setting. If I don't know anything about Azure Function, I would wonder why a Connection string need

[2019-03-14 22:54] ColbyTresness commented on #851
I agree we should make this string clearer.

[2019-03-14 22:55] ColbyTresness opened #852 "Update Visual Studio 2017's configuration wizard to update Application Settings"
_From @rabrahamOpti on May 30, 2018 13:42_

Current:
When creating a Service Bus Queue Triggered Azure Function in Visual Studio 2017, the setup wizard prompts for a "Connection String Setting" for the service bus queue,. That setting is meant to map to a Key in Application Settings but does not prompt for the queue's connection string itself, and consequently doesn't update the Application Settin

[2019-03-14 22:55] ColbyTresness commented on #852
_From @jeffhollan on June 14, 2018 22:16_

Yes this feature is agreed and being tracked with the Visual Studio team. No timeline on ETA.  Thanks for the input.

[2019-03-14 22:55] ColbyTresness commented on #852
@jeffhollan is this now complete?

[2019-03-18 17:41] jeffhollan commented on #851
I thought we ended up making this change? Do you know what's in prod today?

[2019-03-18 18:34] ColbyTresness commented on #851
Yeah the above, connection string setting, is what's in prod. Naren said he'd change soon, pretty simple.

[2019-03-20 08:08] jeffhollan commented on #851
What's the proposed new name that's more clear than "Connection string setting?"

[2019-03-20 18:42] fabiocav commented on #720
For confirmation, this is V1 with the experimental PowerShell support there, correct?

Have you had a chance to try the PowerShell support being added to V2? https://github.com/azure/azure-functions-powershell-worker

[2019-03-20 18:59] soninaren commented on #661
this was validated and closed.

[2019-03-20 18:59] #661 closed

[2019-03-20 19:39] mhoeger commented on #828
cc: @johnpapa

[2019-03-20 22:35] Andrew-MSFT commented on #851
I think this is an old issue at this point as the screenshot from when I filed it is "Connection".  I think we can close this now

[2019-03-20 23:39] ColbyTresness commented on #851
IMO it should be "Connection string setting name", which makes it clear that we're not looking for the actual string.

[2019-03-21 20:17] mattchenderson commented on #844
@soninaren could you provide some description here? I think I know what this is, but not certain.

[2019-03-21 21:41] soninaren commented on #844
This is related to template release. Currently the templates in prod do not use the latest extension packages. This is so that extensions in extension bundle and the extensions used by the templates being used in prod match. This would allows use portal templates the way they are without having to do a portal release and https://github.com/Azure/azure-functions-host/issues/3712.

[2019-03-26 20:56] soninaren commented on #844
resolved in here https://github.com/Azure/azure-functions-templates/commit/0ce083cc8186e26d06fefc79ae0a7a13f3b304f1

[2019-03-26 20:56] #844 closed

[2019-03-26 21:02] #731 closed

[2019-03-30 18:34] bgelens opened #857 "Table input binding template(s)"
I raised this issue first on the [PowerShell worker repo](https://github.com/Azure/azure-functions-powershell-worker/issues/178).

Apparently, there are no templates for this scenario in any language. It would be awesome if some templates could be included.

cc: @joeyaiello, @TylerLeonhardt

[2019-03-30 20:42] mikhailshilkov commented on #627
Does anybody have a status of this issue and a plan? There is #738 which exists for months and touches 150+ files. Why not merge something simple like 1 HTTP and 1 Timer template and then get going from there?

[2019-03-30 21:14] jeffhollan commented on #627
Thanks for the ping. @soninaren who is likely best person to help here is heads down on removing the .NET SDK requirement to use extensions in other languages but let me flag this so we can discuss what is required to at least get the CLI create working

[2019-04-02 18:26] Angr1st commented on #627
Hopefully we can finally get this moving forward. Would make the life of Fsharp devs a little easier.

[2019-04-02 18:27] dsyme commented on #716
@paulbatum I'm available to to help to see F# samples/templates for precompiled functions based on the content in the original samples.  Please let me know if I can help.

[2019-04-02 18:36] mikhailshilkov commented on #716
@dsyme There is this PR: https://github.com/Azure/azure-functions-templates/pull/738

[2019-04-02 18:52] dsyme commented on #716
@mikhailshilkov Cool I missed that

@paulbatum What do you think of the PR? thanks.  I think this would be an adequate replacement

[2019-04-02 18:57] mikhailshilkov commented on #716
@cartermp Probably knows what's left. The PR is quite a beast.

[2019-04-02 19:48] cartermp commented on #716
The templates should be good to go, just need to verify it all works when you plug the pieces together

[2019-04-03 02:49] paulbatum commented on #716
I tried to consume the build artifacts on the PR and ran into a problem. Lets discuss it there.

[2019-04-06 00:05] yeahsicy opened #904 "Request to enable OPTIONS by default for Javascript HTTP trigger function"
### Request to enable OPTIONS by default for Javascript HTTP trigger function

#### Reason:
All the major javascript HTTP clients like jquery, axios, use pre-flight OPTIONS requests. Configuring functions by default to support CORS better is needed.

#### Current:
HTTP function is with GET and POST by default.
![image](https://user-images.githubusercontent.com/34499027/55661957-47200c80-57c4-11e9-

[2019-04-06 19:52] cbailiss commented on #850
+1 that this setting is confusing and a documentation link is needed.
Background:  I just tried creating an Azure function for the first time in VS.  I was (and still am) confused by this setting.  Googled the setting.  Found the issue in the old repo and followed it here - since it needs something (e.g. doc link) to make this understandable.
"Anonymous" I can kind of guess what that means, but "A

[2019-04-07 17:58] ggailey777 commented on #850
Related issue: https://github.com/MicrosoftDocs/azure-docs/issues/5955

[2019-04-07 18:07] ggailey777 commented on #850
We did try to clarify this UI issue in the [VS quickstart](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-your-first-function-visual-studio#create-a-function-app-project):
![image](https://user-images.githubusercontent.com/1388263/55687737-418e0800-5925-11e9-8453-86aef4d111c6.png)

[2019-04-09 15:42] FinVamp1 opened #858 "Event Hub Trigger Template for C# reference is not working."
Default:

#r "Microsoft.Azure.EventHubs"
error CS0006: Metadata file 'Microsoft.Azure.EventHubs' could not be found

When consumed:

Binding parameters to complex objects (such as 'Object') uses Json.NET serialization.
1. Bind the parameter type as 'string' instead of 'Object' to get the raw values and avoid JSON deserialization, or
2. Change the queue payload to be valid json. The JSON parser fai

[2019-04-09 21:58] shizn opened #859 "Adding EdgeHub Trigger template"
Developers can run Azure Functions with EdgeHub trigger on IoT Edge devices. To consolidate the functions develop experience in VS Code across Functions on Cloud and Functions on Edge. We need to host a EdgeHub Trigger template here. So that VS Code extensions can leverage the templateID to show them during project creation stage.

[2019-04-11 17:30] jeffhollan commented on #859
What's the timeline for when you need this?

[2019-04-11 17:31] jeffhollan commented on #859
@soninaren does it make sense to assign this to you? The templates themselves (one c# one JavaScript) are in an email thread I added you on

[2019-04-11 17:35] shizn commented on #859
I think no later than 1st week of May, given EventGrid ship date is end of May and we need 3 weeks to finish tooling integration.

[2019-04-19 10:15] aaronpowell commented on #627
@jeffhollan @soninaren let me know if there's anything I can do from the CDA team perspective to help 😁

[2019-04-19 22:34] cartermp commented on #627
This is now in. Still plenty of work left to get to parity, but it's progress! 🙂

[2019-04-19 22:44] soninaren commented on #627
@cartermp have merged you F# templates PR into the templates repo here https://github.com/Azure/azure-functions-templates/commit/32ad34d09ea3208659b8db0b1568e5c2212cceaa. Will add those template to the current template release .

[2019-05-01 20:02] shizn commented on #859
Any updates on this one? Thanks!

[2019-05-01 20:12] soninaren commented on #858
This solution would not work if the customer is using extension bundles. You shouldn't need to reference the dll directly. Will investigate and respond. Is this v1 or v2?

[2019-05-01 20:17] soninaren commented on #849
This is known issue and needs a fix on the VS side. I think this breaks the namespace naming rules and was causing compile errors.

[2019-05-02 16:59] BrianTJackett opened #860 "Include DurableTask PackageReference when creating C# function in VSCode"
When creating a new C# Azure Function in VSCode, the "Microsoft.Azure.WebJobs.Extensions.DurableTask" NuGet package reference is not included.  This is acceptable for non-durable function templates (HTTP, queue, timer, etc.), but any of the durable function templates will fail to build until the DurableTask PackageReference is added to the .csproj (or run "dotnet add package...")

Recommend adding

[2019-05-03 23:04] ColbyTresness opened #861 "TS/JS templates for eventHub should use dataType=string"
Went through the event hub getting started docs, and was getting a data type mismatch. We should default to dataType=string, such that customers can just remove if necessary rather than adding back a random setting.

[2019-05-06 10:44] lymedo commented on #677
Getting the same issue publishing from Visual Studio with a V2 function.
Created a new HTTP function, tested it locally and attempted publish.

`Message:
Publish has encountered an error.
Publishing failed.
A diagnositic log has been writter to the following location: "C:\Users\user\AppData\Local\tmpB1F0.tmp"

Output:
Web deployment task failed. (Web Deploy experienced a connection problem with th

[2019-05-15 17:27] mattchenderson opened #862 "Ensure Event Grid template is deployed to Azure Government"
CC @asavaritayal

[2019-05-15 19:16] soninaren commented on #801
i don't think there is a change in the behavior. `blobTrigger` just gives you full path however you can still access `name` via `context.bindingData.name`

[2019-05-15 19:18] soninaren commented on #801
fixed in here https://github.com/Azure/azure-functions-templates/commit/ccde39f3e131d50e613bc096f4e7736a2ad3f522

[2019-05-15 19:18] #801 closed

[2019-05-15 19:41] #847 closed

[2019-05-15 19:46] #850 closed

[2019-05-15 19:57] soninaren commented on #843
addressed in https://github.com/Azure/azure-functions-templates/pull/853

[2019-05-15 19:57] #843 closed

[2019-05-20 11:14] FinVamp1 commented on #858
Hi Naren, this is with the Extensions installed. This is v2 and we've had another customer report this recently.

[2019-05-24 20:46] soninaren commented on #862
The code change is done. Will start rolling out next week.

[2019-05-24 20:46] #862 closed

[2019-05-24 20:47] agruning commented on #862
Fixed by https://github.com/Azure/azure-functions-ux/pull/3918

[2019-05-27 20:36] sunny-syu opened #867 "Process Duplicate Requests"
We have a Function App written in PowerShell that simply sends out emails using .NET's SmtpClient and MailMessage objects upon HTTP POST requests.

However, sometimes, it will send the same emails twice. But in the Monitoring tab in Function App, the emails logs for the two of the same emails have difference request IDs. It seems like after the first time of the Function App ran, it sends the same

[2019-05-31 20:55] asavaritayal opened #869 "Template Improvements for Python"
In preparation for exiting the preview phase for Python support in Functions, we should improve the quality of out of box templates available. Following is the proposed list of improvements we can make:

1. Complete the "TBDs" in the READMEs
2. Provide more comprehensive code samples to demonstrate the API surface. (HTTP is a good example but others like Blob and Queue are currently only single li

[2019-05-31 21:04] asavaritayal opened #870 "HTTP - Template Improvements for Python"
Child issue for https://github.com/Azure/azure-functions-templates/issues/869

- [ ] Complete the "TBDs" in the READMEs
- [ ] Provide more comprehensive code samples to better demonstrate the API surface. (HTTP template good but others like Blob and Queue are currently only single line logging statements.)
- [ ] Add comments for aka links to the binding reference articles.
- [ ] Add `"scriptFile":

[2019-05-31 21:05] asavaritayal opened #871 "Timer - Template Improvements for Python"
Child issue for https://github.com/Azure/azure-functions-templates/issues/869

- [ ] Complete the "TBDs" in the READMEs
- [ ] Provide more comprehensive code samples to better demonstrate the API surface. (HTTP template good but others like Blob and Queue are currently only single line logging statements.)
- [ ] Add comments for aka links to the binding reference articles.
- [ ] Add `"scriptFile":

[2019-05-31 21:05] asavaritayal opened #872 "Blob - Template Improvements for Python"
HTTP - Template Improvements for Python

[2019-05-31 21:06] asavaritayal opened #873 "Event Hubs - Template Improvements for Python"
Child issue for https://github.com/Azure/azure-functions-templates/issues/869

- [ ] Complete the "TBDs" in the READMEs
- [ ] Provide more comprehensive code samples to better demonstrate the API surface. (HTTP template good but others like Blob and Queue are currently only single line logging statements.)
- [ ] Add comments for aka links to the binding reference articles.
- [ ] Add `"scriptFile":

[2019-05-31 21:06] asavaritayal opened #874 "CosmosDB - Template Improvements for Python"
Child issue for https://github.com/Azure/azure-functions-templates/issues/869

- [ ] Complete the "TBDs" in the READMEs
- [ ] Provide more comprehensive code samples to better demonstrate the API surface. (HTTP template good but others like Blob and Queue are currently only single line logging statements.)
- [ ] Add comments for aka links to the binding reference articles.
- [ ] Add `"scriptFile":

[2019-05-31 21:08] asavaritayal opened #875 "Event Grid - Template Improvements for Python"
Child issue for https://github.com/Azure/azure-functions-templates/issues/869

- [ ] Complete the "TBDs" in the READMEs
- [ ] Provide more comprehensive code samples to better demonstrate the API surface. (HTTP template good but others like Blob and Queue are currently only single line logging statements.)
- [ ] Add comments for aka links to the binding reference articles.
- [ ] Add `"scriptFile":

[2019-05-31 21:13] asavaritayal opened #876 "Queue - Template Improvements for Python"
Child issue for https://github.com/Azure/azure-functions-templates/issues/869

- [ ] Complete the "TBDs" in the READMEs
- [ ] Provide more comprehensive code samples to better demonstrate the API surface. (HTTP template good but others like Blob and Queue are currently only single line logging statements.)
- [ ] Add comments for aka links to the binding reference articles.
- [ ] Add `"scriptFile":

[2019-05-31 21:15] asavaritayal opened #877 "Service Bus - Template Improvements for Python"
Child issue for https://github.com/Azure/azure-functions-templates/issues/869

- [ ] Complete the "TBDs" in the READMEs
- [ ] Provide more comprehensive code samples to better demonstrate the API surface. (HTTP template good but others like Blob and Queue are currently only single line logging statements.)
- [ ] Add comments for aka links to the binding reference articles.
- [ ] Add `"scriptFile":

[2019-06-03 22:32] soninaren commented on #627
Closing this one as it has been deployed to nuget

[2019-06-03 22:32] #627 closed

[2019-06-05 22:25] soninaren commented on #851
This addressed in the commit https://github.com/Azure/azure-functions-templates/commit/914c6ba302394e6b3138dce51a98cb8865e953e7

[2019-06-05 22:25] #851 closed

[2019-06-05 22:26] soninaren commented on #841
Have updated the label in this commit https://github.com/Azure/azure-functions-templates/commit/914c6ba302394e6b3138dce51a98cb8865e953e7

[2019-06-05 22:26] #841 closed

[2019-06-06 07:49] soninaren commented on #683
@vijayrkn, we had this item in the backlog. We can just use this.

[2019-06-06 12:33] vijayrkn commented on #683
Sounds good. Adding @phenning

[2019-06-06 22:29] soninaren opened #878 "Add Event Grid trigger template to list of templates available during project creation."
We need to add Event Grid template to the list of triggers available during project creation.
![image](https://user-images.githubusercontent.com/8119379/59070450-9b507700-886f-11e9-8784-650aa4c2ea5c.png)

[2019-06-10 18:55] grayjeremy commented on #869
What do you think about adding a dependency to the [Azure SDK for Python](https://github.com/Azure/azure-sdk-for-python)?  When I create a function in python with the servicebus trigger it references the [azf_sbus object "ServiceBusMessage"](https://github.com/Azure/azure-functions-python-worker/blob/521d4c56e148feb4cde7210fbf7d017336baf380/azure/functions_worker/bindings/servicebus.py) instead of

[2019-06-10 19:14] asavaritayal commented on #869
@grayjeremy makes sense and understand the request. This is being tracked as a larger work item here - https://github.com/Azure/azure-functions-python-worker/issues/414. The current issue is limited to making sure that the present templates are complete for GA.

[2019-06-13 09:25] DeV1L opened #880 "PowerShell - The function stopped run Function App"
The function was working for a while. Suddenly it stopped run on the schedule. But it run manually well.
The only way I've found to fix it temporary it's stop and start (not restart) whole application in the portal. But it helps only for a day o two.

Support team told that PowerShell function with 1.x runtime is experimental and they can't help.

function.json
[code]

[2019-06-18 11:36] KalyanChanumolu-MSFT commented on #878
+1 for this

[2019-06-18 11:42] KalyanChanumolu-MSFT opened #886 "Project Templates with Dependency Injection"
This [article](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) talks about using DI in Azure functions.
The existing project templates still not have the Startup.cs class and use static functions.

It would be great to update the templates to the same level as .Net Core API project templates.

[2019-06-19 21:06] fabiocav opened #887 "Update Microsoft.NET.Sdk.Functions to latest version"
As of today (06/19/2019), the latest version is 1.0.29 and the templates reference 1.0.28. There have been a few enhancements added to 29 and we should be on that version.

Opening this to update to whatever version is the latest when this is picked up.

[2019-06-19 21:07] fabiocav commented on #887
@soninaren FYI

[2019-06-19 21:10] soninaren commented on #887
Fixed in this commit
https://github.com/Azure/azure-functions-templates/commit/e98fae88181081f1ab17dc8486013e4a13f61c34

[2019-06-19 21:16] #887 closed

[2019-06-29 12:23] MisinformedDNA opened #888 "getTools.ps1 fails in PowerShell Core"
I ran `getTools.ps1` in PowerShell Core (on Windows) and got the following error message:

[code]

We should notify users of why it failed.

[code]

We may also want to update the README.md to specify that only Windows PowerShell is supported... at least until #820 is completed.

[2019-07-15 21:36] vijayrkn opened #894 "Files created by Visual Studio are generally considered to be UTF-8. However, when you generate a file using the Azure Functions template, the file is generated in ANSI."
Creating the bug on behalf of the VS customer.

Details of the bug can be found here - https://developercommunity.visualstudio.com/content/problem/635626/visual-studio-2019-%E3%81%A6azure-functions%E3%81%AE%E3%83%86%E3%83%B3%E3%83%95%E3%83%AC%E3%83%BC%E3%83%88%E3%82%92%E4%BD%BF%E7%94%A8%E3%81%97%E3%81%A6%E3%82%AF%E3%83%A9%E3%82%B9.html

[2019-07-16 01:09] gzuber opened #893 "Default EventHubTrigger template fails to handle events"
When you create a default EventHubTrigger function in the Azure portal, it's unable to properly handle events. It throws the following error:

[code]

If you remove the "Test message" payload, it throws the following:

[code]

As a workaround, this can be fixed by changing the line

`#r "Microsoft.Azure.EventHubs"`

to

`#r "..\bin\Microsoft.Azure.EventHubs.dll"`

Some investigation is required to

[2019-07-17 23:14] soninaren commented on #893
@fabiocav any idea why `#r "Microsoft.Azure.EventHubs"` is not working?

[2019-07-17 23:23] fabiocav commented on #893
This is likely a result of an extension change failing to export that assembly. Inspecting the extension and debugging the assembly probing process would confirm.

[2019-07-18 01:25] vijayrkn opened #895 "Functions HttpTrigger template warning"
REPRO STEPS
1.  File > New Project > Azure Function > Azure Function v2(.Net Core)
2. Select "Http trigger" in the dialog, select "Browser" in the "Storage Account(AzureWebJobsStorage)"dropdown. Add your storage account and create.

Not repro with Azure Functions v1 (.NET Framework)

ACTUAL
![functions](https://user-images.githubusercontent.com/3981619/61227415-1a3f9780-a6d9-11e9-9a4c-53b25e3ff4aa

[2019-07-19 22:46] DRamalho92 opened #896 "PnPPowerShell error OfficeDevPnP.Core"
Hi, I've followed the steps on the below article to create my azure function and got the next error :

Exception while executing function: Functions.HttpTriggerPowerShell1 -> Could not load file or assembly 'OfficeDevPnP.Core, Version=3.11.1907.0, Culture=neutral, PublicKeyToken=5e633289e95c321a' or one of its dependencies. The system cannot find the file specified. -> Could not load file or assem

[2019-07-25 15:54] DRamalho92 commented on #896
The solution for this issue was to restart the application on Azure after installing the PnP PowerShell.

[2019-07-25 15:54] #896 closed

[2019-07-25 21:10] mikebattista opened #897 "VS Code Azure Functions extension isn't updating the FunctionName attribute with the user-provided function name for a new F# TimerTrigger like it does for the module name and other templates."
Repro:
* Install Azure Functions extension for VS Code
* Set "azureFunctions.projectLanguage": "F#" in VS Code
* Create a new function app in VS Code with "Azure Functions: Create New Project"
* Create a new TimerTrigger function with "Azure Functions: Create Function" (switch from Verified to All to unlock the F# templates) and provide a custom name different from the default

Expected:
* The mod

[2019-07-30 18:24] mikebattista opened #898 "VS Code Azure Functions extension isn't updating the module name with the user-provided function name for a new F# EventHubTrigger like it does for the FunctionName attribute and other templates (possibly due to a typo in the EventHubTrigger-FSharp template)"
Repro:
* Install Azure Functions extension for VS Code
* Set "azureFunctions.projectLanguage": "F#" in VS Code
* Create a new function app in VS Code with "Azure Functions: Create New Project"
* Create a new EventHubTrigger function with "Azure Functions: Create Function" (switch from Verified to All to unlock the F# templates) and provide a custom name different from the default

Expected:
* The

[2019-07-30 18:31] mikebattista opened #899 "EventHubTrigger-FSharp template fails to compile after creating a new F# EventHubTrigger in VS Code"
Repro:
* Install Azure Functions extension for VS Code
* Set "azureFunctions.projectLanguage": "F#" in VS Code
* Create a new function app in VS Code with "Azure Functions: Create New Project"
* Create a new EventHubTrigger function with "Azure Functions: Create Function" (switch from Verified to All to unlock the F# templates) and provide a custom name different from the default
* Add the file to

[2019-09-11 18:34] rabrahamOpti commented on #858
@soninaren You can easily recreate this issue by creating a function app function that's triggered by an event hub in Portal, and then sending a message to the eventhub to trigger the function. See the four images below:

![InPortal](https://user-images.githubusercontent.com/28309959/64724822-beb83d00-d4c2-11e9-98ed-c826bf04b404.PNG)

![AzureEventHubTrigger](https://user-images.githubusercontent.c

[2019-09-11 19:22] soninaren commented on #858
@rabrahamOpti this is a known issue. There is fix required in host to load the dll as expected in the meantime updating the template as mentioned by @FinVamp1 should fix the issue for you.
https://github.com/Azure/azure-functions-templates/issues/893

[2019-09-18 16:24] FinVamp1 opened #901 "C# Templates should have Microsoft.VisualStudio.Threading.Analyzers Added by Default"
As discussed with @paulbatum .

We have guidance around Async as discussed here.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-best-practices#use-async-code-but-avoid-blocking-calls

By adding this analyzer to the template we have guidance on when the customer is not using Async properly for C#.

![image](https://user-images.githubusercontent.com/1410302/65166754-334a2900-da39-

[2019-09-30 19:32] soninaren opened #902 "Update binding extension version for templates to latest"

[2019-10-09 22:53] ColbyTresness opened #903 "Durable JS Activity and Orchestrator shouldn't reference Kudu in comments"
We really should remove the reference to Kudu in the comment above the durable js templates. This is alienating to Linux customers, where we're trying to move. And it's not really true, the npm install should run automatically for customers so long as they properly indicate that durable-functions is a dependency. So yeah please change the last line of the comment in the activity and orchestrator t

[2019-10-09 22:53] ColbyTresness commented on #903
@ConnorMcMahon  for DurableJS

[2019-10-11 21:06] mhoeger opened #905 "JavaScript EventHubTrigger should default to "dataType": "string" and JSON.parse"
If a user tries to send an event hub trigger message that isn't a valid JSON, the following exception will be thrown:

[code]

To avoid this, we should default to consuming string types:
[code]

and optionally adding code that tries to parse the string as JSON:
[code]

Related to: https://github.com/Azure/azure-functions-nodejs-worker/issues/247

[2019-10-22 21:27] brettsam opened #906 "Exclude sampling of requests by default in host.json templates"
With the fix for https://github.com/Azure/azure-functions-host/issues/4753 in, we now need to update templates to exclude Requests from sampling. We can't do it globally because it'd be considered a breaking change, so we'll tackle it in templates.

[code]

Needs to be done in 3 parts
- [x] Default template `init template` for core tools
- [x] Default project template for VS (c# precompiled)
- [ ]

[2019-10-22 21:28] brettsam commented on #906
@jeffhollan / @paulbatum / @soninaren FYI.

I assume we're okay with having this set for everyone, whether or not they're using App Insights?

[2019-10-22 21:56] paulbatum commented on #906
I don't see a downside.. if they don't have app insights, then this is just a no-op right?

[2019-10-22 22:00] brettsam commented on #906
Yup. No downside -- just wanted to be clear.

[2019-10-23 01:58] jeffhollan commented on #906
I also wonder if in this change we just explicitely add "samplingEnabled": true so people see it and can easily toggle off as is a constant source of support tickets

[2019-11-07 10:47] soninaren commented on #893
Fixed in here
https://github.com/Azure/azure-functions-templates/commit/942534d7e720f5be1a10d022a27563cfeb246f66

[2019-11-07 10:49] soninaren commented on #858
fixed in here https://github.com/Azure/azure-functions-templates/commit/942534d7e720f5be1a10d022a27563cfeb246f66

[2019-11-07 10:49] #858 closed

[2019-11-07 10:53] soninaren commented on #732
This is fixed now

[2019-11-07 10:53] #732 closed

[2019-11-13 21:27] fabiocav commented on #902
Closing as resolved

[2019-11-13 21:27] #902 closed

[2019-11-22 01:22] mhoeger opened #909 "camelCase timer trigger object for JavaScript and TypeScript V3"
https://github.com/Azure/azure-functions-nodejs-worker/issues/188

[2019-11-26 02:37] soninaren commented on #859
This is merged and should go out in the next deployment

[2019-11-26 02:37] #859 closed

[2019-12-03 20:08] jeffhollan opened #911 "Template changes for 3.0"
VS Code and Visual Studio will need a way to show changes for ~3 apps including:

- [x]  Microsoft.Functions.Net.SDK `3.0.0`
- [ ]  Change target framework to `netcoreapp3.1`

[2019-12-03 20:09] jeffhollan commented on #911
/ cc @soninaren

[2019-12-05 04:53] #909 closed

[2019-12-05 04:54] mhoeger commented on #905
Resolved for V3, pending for V2

[2019-12-08 02:50] kulkarnisonia16 commented on #906
I see in https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#applicationinsights, we have setting for  "samplingSettings": {"isEnabled": true} So, if we set this to false, will requests not be sampled?

[2019-12-09 13:51] brettsam commented on #906
Correct. Setting this to false means that all telemetry is sent.

[2019-12-09 22:17] TonyHenrique commented on #716
When will be released the F# Azure Functions V2 project templates (for .NET Core 3.1 or .NET 5) for Visual Studio ?

[2019-12-10 19:01] EricJizbaMSFT opened #915 "C# EventGrid Template should have v2"
Originally filed here: https://github.com/Azure/azure-functions-templates/issues/803, not sure why it was closed.

The template for EventGrid still has `1.x` instead of `2.x` in the id, which means VS Code will not list it: https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/Templates/EventGridTrigger-CSharp/build.config/template.json#L9

[2019-12-10 19:20] EricJizbaMSFT opened #916 "Update C# v3 item templates to have 3.x instead of 2.x in id"
The [project template](https://github.com/Azure/azure-functions-templates/blob/v3.x/Functions.Templates/ProjectTemplate/CSharp/build.config/template.json#L11) already uses "3.x" and the [nuget package](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.ItemTemplates/3.0.10405) itself has "3." in it's version. Unless there's a compelling reason, it would be less confusing and very helpful if it

[2019-12-11 21:08] fabiocav commented on #911
Closing as completed.

[2019-12-11 21:08] #911 closed

[2019-12-11 21:13] jeffhollan commented on #911
Thanks @fabiocav - did we end up updating to 3.1? Understand if it’s coming later but would be good to have a P1 to track that. Sometime before Jan 20 (when I’m thinking defaults are set)

[2019-12-16 07:04] buchizo commented on #817
If I use string interpolation of ILogger in function app class, log is
garbled when using multi-bytes character.

e.g.

[code]
![image](https://user-images.githubusercontent.com/1254213/70885938-a73aa400-201d-11ea-949d-f176cd1fec33.png)

I should ALWAYS change to UTF-8 (with BOM) from default function app code (*.cs) after create project or add function.

[2019-12-17 01:49] soninaren commented on #911
@jeffhollan we haven't updated the templates yet. I will update the templates in the next release since the dotnet 3.1 rollout is now complete.

[2019-12-17 01:50] soninaren opened #917 "Update the target framework for v3 project template to netcoreApp3.1"

[2019-12-17 01:50] soninaren commented on #911
Here is the tracking item
https://github.com/Azure/azure-functions-templates/issues/917

[2019-12-19 12:53] shibayan commented on #817
@soninaren Is this issue recognized? If I can contribute, I will do it happily 😃

[2019-12-19 19:07] soninaren commented on #817
@shibayan Are you looking at the logs in Application Insights? If yes this is a know issue. https://github.com/Azure/azure-functions-host/issues/4731

[2019-12-19 21:07] soninaren commented on #917
Addressed in here https://github.com/Azure/azure-functions-templates/commit/c68554cd20d76d3ea61874ec18f0ced5c111eb55

[2019-12-19 21:07] #917 closed

[2019-12-20 07:59] shibayan commented on #817
@soninaren Thank you for the reply.

Yes, the above image is certainly from Application Insights, but the problem is different.

This problem, Visual Studio saves using the system default encoding (`Shift_JIS` in Japan) because the Azure Functions project template does not have a UTF-8 BOM.

There is no problem when building on the machine used for development, but there is a problem when combined

[2019-12-31 20:01] kulkarnisonia16 commented on #901
https://www.nuget.org/packages/Microsoft.VisualStudio.Threading.Analyzers/

[2020-01-06 22:19] dariagrigoriu commented on #901
@FinVamp1 is following up on this item.

[2020-01-08 20:55] fabiocav opened #918 "test"
test

[2020-01-08 20:55] #918 closed

[2020-01-15 21:49] fiveisprime opened #919 "Update the default message for HTTP trigger template"
Hey there Functions friends!

We (DevDiv) have been running user studies on the Azure Functions experience in VS Code over the last month. One consistent thing we see is that participants don't realize they have successfully created and ran the function app because they see an "error" the first time they run the app. On first launch, they see `Please pass a name on the query string or in the reque

[2020-01-27 16:21] soninaren commented on #916
So i tried to make this change in the templates. In my testing i found that this causing `null ref` exception in VS because it is looking for 2.x templates and needs to handle the template identity changes more gracefully. Also the templates are actually bound to the binding extension rather than the runtime. The same template would work for both v2 and v3 as long as the binding extension works wi

[2020-02-03 18:19] soninaren opened #922 "Removing HTML tags from the help text of bindings"
Remove HTML tags from the resources of the following properties.

- TimerTrigger trigger (v1, dev and v3.x branch)
- MobileTable in (V1 only)
- MobileTable out (V1 only)
- NotificationHub in (V1 only)
- NotificationHub out (V1 only)

[2020-02-03 19:15] soninaren opened #923 "Add ForwardLink to the validators object"
We need to add forward link property to the Validators object in bindings.json. This is so that the portal add a link to the error message in case validation fails.

[2020-02-05 20:52] soninaren commented on #906
blocked on https://github.com/Azure/azure-functions-host/issues/5604

[2020-02-05 21:12] fabiocav commented on #906
Closing this as the remaining item is now tracked in Azure/azure-functions-host#5604

[2020-02-05 21:12] #906 closed

[2020-02-05 21:16] jeffhollan commented on #906
Ah my heart is broken. I was hoping we'd modify to

[code]

So folks know how to easily toggle this off.  But looks like PRs are already in to not include. Can keep an eye out if we should make that additional change so this is more easily discovered by users.  @kulkarnisonia16 I would be convinced we should add my "isEnabled" explicit on (which is already default today, it's just making it more a

[2020-02-10 12:55] BrianTJackett commented on #860
Appears to be resolved, but not latest version of template.  Closing for now.

[2020-02-10 12:55] #860 closed

[2020-02-10 23:53] ammanifold commented on #923
Can we please add this to the general settings instead of in the validators object and add all links for bindings with documenation? That way it can be for more general information.

[2020-02-10 23:53] mhoeger opened #926 "Change package.json production build script name"
Change package.json "build:production" to be "build:azure"

This will help wherever Oryx is being run: https://github.com/microsoft/Oryx/blob/master/doc/runtimes/nodejs.md#build

[2020-02-10 23:59] #926 closed

[2020-02-11 19:51] soninaren commented on #893
The fix was invalidated with bundles being default

[2020-02-14 09:29] michaeljdresser opened #1220 "Microsoft.NET.Sdk.Functions 3.0.1+ (are you missing an assembly reference?)"

[2020-02-15 01:56] soninaren commented on #919
Have opened a PR to fix this. `sample.dat` is used by portal and CLI to provide a sample request. Can't remove that.

[2020-02-18 22:29] anthonychu opened #929 "Add Durable Functions 2.0 templates for Python"

[2020-02-18 22:30] anthonychu opened #930 "Add Durable Functions 2.0 templates for PowerShell"

[2020-02-19 20:50] soninaren commented on #919
Will fix the typo

[2020-02-19 20:50] #919 closed

[2020-03-04 23:35] soninaren opened #933 "Add sevice.dependencies.json file in the project templates"

[2020-03-06 08:55] estensen opened #935 "Fsharp template generates settings that don't work with Cosmos bindings"
https://github.com/Azure/Azure-Functions/issues/1177
https://stackoverflow.com/questions/60305107/cosmos-db-bindings-for-f-azure-function-fails-to-bind/60508257#60508257

[2020-03-11 17:58] #929 closed

[2020-03-17 20:25] phenning opened #939 "[WebToolsE2E]Create Azure function project with V3(.Net Core) Empty, click host.json file, it will meet warning with: "Warning Value must conform to exactly one of the associated schemas"."
**REPRO STEPS**

1. File > New > Project > Azure Function > Next > Create > Azure Function v3(.Net Core) ~ Empty > Add.
2.Click host.json.

Error with host.json validation:

**Message**
Warning Value must conform to exactly one of the associated schemas
    Property name is not allowed by the schema at
    Property name is not allowed by the schema at
    or
    Property name is not allowed by the

[2020-03-17 20:27] phenning commented on #939
the host.json contains:
[code]

It looks like the schema is missing a definition for the following property in
http://json.schemastore.org/host, as removing this line causes schema validation to succeed.

`      "samplingExcludedTypes": "Request",`

[2020-04-08 13:42] janisBerz commented on #842
We sometimes have the same error `System.FormatException: unable to decrypt` with pretty much the same arm template and Azure function v2. Workaround - restart the function app.

[2020-04-16 20:59] anthonychu opened #941 "Improve intellisense in JS Functions"
@btholt @dariagrigoriu After our conversation earlier this week about better typing/intellisense support for JS Functions, experimented with this a bit and it seems to work. We could update the JS templates with the proper JSDoc annotations to get VS Code intellisense to work. Requires these changes:

* Add JSDoc style comments to all templates.
* Include `@azure/functions` by default in package.j

[2020-04-16 23:58] davidmrdavid commented on #941
This would be great to have! I'm also concerned about the `@param {import('@azure/functions').<type>} <param>` requirement. I would prefer to have something like `@param az_func.HttpRequest req`.

I'm unsure if we can do that, but I suspect that if we implicitly load function types under a handy namespace, like `az_func`, then it _should_ be feasible?

[2020-04-20 19:21] soninaren opened #942 "Add metadata for eventGrid output binding in bindings.json"
The metadata for eventGrid output binding is missing. It needs to be added to bindings.json. https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/Bindings/bindings.json#L1189

[2020-04-21 21:40] soninaren opened #943 "Add service dependencies artifacts for visual studio templates"
To add more details.

[2020-04-23 13:43] evandropomatti opened #944 "Microsoft.WindowsAzure.Storage: Settings must be of the form "name=value"
I created a Python function with "TimerTrigger" template like this:

[code]

And got this error:

[code]

SDK version:

[code]

[2020-04-23 14:36] evandropomatti commented on #944
Didn't see the placeholder in the `local.settings.json` file.

[code]

[2020-04-23 14:36] #944 closed

[2020-04-28 19:02] aggieben opened #945 "Function can't load dependencies"
I tried creating / running an F♯ TimerTrigger function using the instructions here: https://github.com/Azure/azure-functions-templates/wiki/Using-the-templates-directly-via-dotnet-new

When I try invoking `func --script-root bin\Debug\netcoreapp3.1`, the result is as follows:
![image](https://user-images.githubusercontent.com/1321/80526762-df051100-8958-11ea-9802-daa53917bcb6.png)

For the indexer

[2020-04-28 19:37] aggieben commented on #945
Hmm; after digging around here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#migrating-from-2x-to-3x it seems I should have been using the v3 tooling, which was only available via chocolatey by specifying the version number, like this:

`choco install azure-functions-core-tools-3 --version 3.0.2358 --params "'/x64'"`

This is the required syntax to install a package th

[2020-05-12 23:00] Gandalf8081 opened #948 "Script Examples"

[2020-05-15 15:13] mahdyahmed85 opened #949 "Existing AZure Functions not showing under their corresponding function app"
Hi,
I have azure function app that contains one queue triggered function everything was working fine untill a new UI update has been applied to Azure portal. Now I can't see my function inside the function app anymore. Given that the function i running fine in the background when message is added to the Queue. I also still can see all the function resources available on the KUDU portal.
I tried to

[2020-05-22 20:41] soninaren opened #951 "Change the content of the documentation mark down files to link instead of actual content."

[2020-05-28 14:36] vllama opened #952 "WEBSITE_CONTENTSHARE in template causes 400 error."
Including a value for **WEBSITE_CONTENTSHARE**  in a template causes a deployment to fail with the following error:

[code]

Tracking Id : a49d03b6-0b59-4cfa-8699-51ec9fd89ddb
Deployment Correlation Id : 5337b946-4400-4ddb-a359-1efc4c4454fd

[2020-05-28 14:37] vllama commented on #952
If it is omitted, it seems to create it with the function name + a random suffix

[2020-06-01 16:36] mahdyahmed85 commented on #949
Any updates regarding this issue?

[2020-06-18 20:01] btardif commented on #951
any eta on this? @soninaren

[2020-06-18 20:49] soninaren commented on #951
@btardif , This is pretty low on priority list right now. If you assign an appropriate Priority label i can add it to the sprint for someone to pick up. No ETA as of now.

[2020-06-21 23:52] anthonychu opened #955 "Add custom handler templates"
See https://github.com/Azure/azure-functions-core-tools/issues/1972

[2020-06-22 23:12] soninaren opened #956 "Add Signal R template as an item template for visual studio"

[2020-06-22 23:56] AngelosP commented on #956
In the month of May-2020 we had
•	4,330 Function projects with a reference to blob storage
•	1,751 Function projects with a reference to SignalR

cluster("ddtelinsights").database("DDTelInsights").DotnetProjects_Raw
        | where AdvancedServerTimestampUtc >= datetime(20200501) and AdvancedServerTimestampUtc < datetime(20200601)
        | where ProjectType == "Azure Function App"
        | summa

[2020-06-23 22:11] pragnagopa commented on #955
@anthonychu - Synced up offline with @soninaren  and @yojagad .

For portal we have two options

- Allow customers to create function app with stack `Custom` and then point to documentation on how to get started. This will be similar to Java. No updates needed from templates

or
-  Pick a runtime such as node for sample custom handler and include it in templates. Documentation for custom handlers

[2020-06-23 22:26] yojagad commented on #955
One other possibility if we do pick a default language like node is, would we continue to have to enrich portal experiences based on feedback from customers for selecting other defaults (like Go for instance) ? We could always say node is the only default we support but just a thought.

[2020-06-23 22:29] anthonychu commented on #955
Yep I was thinking option 1 for portal. Should only need to support creating the app.

I meant for this issue to discuss templates so that core tools and vs code can support creating functions when app is of type custom. It should only generate a folder with a function.json. It doesn’t need to do much more than that. In fact I think we can just copy the node templates and remove the index.js and t

[2020-06-23 22:33] anthonychu commented on #828
@bnb this is the issue you’re looking for.

I don’t have the full context for why the file exists, but I think it’s needed in the portal. Perhaps the better thing to do is to have vs code and core tools remove them when generating a function.

[2020-06-23 22:34] pragnagopa commented on #955
@soninaren - is it possible to include templates only for CLI/VSCode and exclude for portal?

[2020-06-23 22:36] pragnagopa commented on #955
@anthonychu - For option 1 - OK to use: https://docs.microsoft.com/en-us/azure/azure-functions/functions-custom-handlers as getting started guide?

[2020-06-24 20:39] fabiocav commented on #956
Pushing this to `Triaged` until we have this prioritized.

[2020-07-02 23:36] soninaren opened #957 "Updated extension packages to the latest in the dotnet templates, including the net sdk package in the project template"
We need to update the NuGet package referenced in the dotnet item templates for v2 and v3.

Here is a sample commit for reference
- Item templates: https://github.com/Azure/azure-functions-templates/commit/0ce083cc8186e26d06fefc79ae0a7a13f3b304f1
- Project template:
    - https://github.com/Azure/azure-functions-templates/commit/999718b4598ffdf5d3480435a49d8ed9ac6114cc
    - https://github.com/Azu

[2020-07-02 23:38] soninaren opened #958 "Release updated dotnet templates"
Needs to happen once this item is complete:  https://github.com/Azure/azure-functions-templates/issues/957

[2020-07-07 18:37] fabiocav opened #960 "Add "dotnet new" templates guidance to public docs"
We need to publish the information [here](https://github.com/Azure/azure-functions-templates/wiki/Using-the-templates-directly-via-dotnet-new) to the public Microsoft Docs site.

[2020-07-07 18:37] fabiocav commented on #960
@anthonychu FYI

[2020-07-07 22:59] ammanifold opened #962 "Have getBindings call for ARM return all bindings information"

[2020-07-07 23:00] ammanifold opened #963 "Update bindings and template response for ARM standard"
long-term request

[2020-07-07 23:18] ammanifold commented on #951
We should update this issue to reflect the addition of a new property instead

[2020-07-07 23:19] ammanifold commented on #962
Similar to getTemplates call, surface all information in one call

[2020-07-09 06:43] janisBerz commented on #842
There were instances where function app restart did not work as a workaround. After chaining the `listsecrets` ARM function to `listkeys` I have not seen the error anymore.

Example:
[code]

[2020-07-09 18:53] anthonychu commented on #930
Resolved with #940

[2020-07-09 18:53] #930 closed

[2020-07-13 03:37] pacon-vib opened #983 "JSON on queue becomes string "System.Collections.Hashtable" in PowerShell"
The boilerplate PowerShell `run.ps1` that `func init` generates includes the following parameter declaration:

[code]

If you put a JSON string on the queue, then the value of `$QueueItem` becomes the string "System.Collections.Hashtable".

I changed the `param` block to cast `$QueueItem` to `[object]` instead of `[string]`, and now `$QueueItem` contains the decoded JSON object.

I don't know much

[2020-07-17 00:42] yojagad opened #965 "Release updated templates for core-tools to staging feed."
Need to do a template release in order to get #964 out.

Then core-tools can pull it in. cc: @pragnagopa @anthonychu

[2020-07-18 14:50] pragnagopa commented on #965
Test staging feed templates with
- Core Tools
- VS Code

[2020-07-20 17:12] softchris opened #966 "VS Code, Create new Project, C#, title and description can be made clearer"
Currently, you create a Durable functions project for C# in VS Code by following a wizard and selecting a task called
`DurableFunctionsOrchestration`. What it in fact does it to give you a `Start`, `Orchestration` and first `Activity` function. That's great, but it's a surprise given its name and lack of a description (and given how it works for JavaScript where this is three separate tasks).

My

[2020-07-20 21:25] fabiocav commented on #956
@soninaren do you have a high level scope for this?

Adding to sprint 81's backlog to see if this is something we can pick up there.

[2020-07-21 00:24] soninaren commented on #956
On high level this workitem would include adding files required for visual studio templates and testing it on VS. Here is a sample PR that does the same for durable template v2. https://github.com/Azure/azure-functions-templates/pull/806/files

[2020-07-21 02:42] pragnagopa commented on #965
@soninaren - Can you please tag logic apps contacts here? If they have any questions they can reach out to me or @yojagad. Thanks!

[2020-07-21 18:52] soninaren commented on #965
cc: @nidhi-pathak, @AbodeSaafan

[2020-07-21 19:05] pragnagopa commented on #965
@nidhi-pathak, @AbodeSaafan - We updating templates  for new feature: https://docs.microsoft.com/en-us/azure/azure-functions/functions-custom-handlers.

Once we have templates available in staging feed will reach out to you to for  testing template in staging feed with logic apps.

Please let me or @yojagad know if you have any specific questions.

[2020-07-22 02:52] #955 closed

[2020-07-24 08:30] Heidelberger commented on #939
Same issue, but only after updating the following nuget package from v3.0.10 (default) to v4.0.2.  Downgrading does not resolve the warning.

Microsoft.Azure.WebJobs.Extensions.Storage

[2020-07-27 21:40] pragnagopa commented on #965
Instructions to test VSCode with staging feed bundles: https://github.com/microsoft/vscode-azurefunctions/issues/2193

[2020-08-04 18:21] yojagad opened #968 "Release static templates for custom handlers"
cc: @pragnagopa @anthonychu

[2020-08-04 22:12] pragnagopa commented on #965
Verified ARM API calls to templates via geo master on a private stamp.

[2020-08-04 22:18] pragnagopa commented on #965
Closing as testing is complete.
- Static templates release issue https://github.com/Azure/azure-functions-templates/issues/968
- Bundles release issue https://github.com/Azure/azure-functions-extension-bundles/issues/27

[2020-08-04 22:18] #965 closed

[2020-08-05 20:21] fabiocav commented on #956
Closing as done.

[2020-08-05 20:21] #956 closed

[2020-08-08 20:12] jimbobbennett opened #971 "Wrong parameter name in function.json for Python Event Hub Trigger"
When creating an event hub trigger in Python, the function that is created in the `__init__.py` file has a parameter called `events`:

[code]

In the `function.json` file where the binding is defined, the mapping is called `event`, not `events`:

[code]

The `function.json` needs to be updated to change the `name` to `events`.

[2020-08-19 14:09] boneyt92 opened #974 "404 Error for Http trigger"
The Sample HTTP Trigger given when creating a new function app using NodejS Runtime is giving 404 error when testing using the portal.

[2020-08-19 14:25] #974 closed

[2020-08-19 20:12] yojagad commented on #968
Tooling feed needs to be released but since it will be released as part of core-tools anyway (soon), so this will be completed when tooling feed release is complete.

[2020-08-19 20:12] #968 closed

[2020-08-25 21:04] regexrowboat opened #975 "WebDeploy with ARM templates to Azure Functions failing with ERROR_INSUFFICIENT_ACCESS_TO_SITE_FOLDER"
I'm trying to deploy an Azure Function app (.NET Core, functions v3) with MSDeploy using an ARM template, and I keep getting this error almost every time. This only succeeds occasionally. My function app has 5 functions that are timer-based, running every second. I'm currently using deployment slots, and I have my functions set to disabled when they're in the staging slot (via the DisabledAttribut

[2020-08-26 18:39] pragnagopa commented on #958
This will be addressed as part of core  tools release  - https://github.com/Azure/azure-functions-core-tools/pull/2169

[2020-08-26 18:39] #958 closed

[2020-08-26 18:40] soninaren commented on #957
Closed as part of #958

[2020-08-26 18:40] #957 closed

[2020-08-28 00:27] vijayrkn commented on #943
We will add the service dependency change on the VS side. Closing this issue.

[2020-08-28 00:27] #943 closed

[2020-08-29 18:41] shibayan commented on #817
@soninaren

Hey! How is your progress?

In the meantime, we developers who use multi-byte languages are still manually re-saving in UTF-8.

[2020-09-01 23:47] soninaren commented on #817
@shibayan, this a host issue, check this issue https://github.com/Azure/azure-functions-host/issues/4731 for updates. I don't think there is active work for the host work item. It has been added to the triage milestone. Going to close this one out since this is not a templates issue.

[2020-09-15 06:41] daniel-refahi commented on #949
having the same issue. i have two azure function services. the files are exactly identical on KUDU but the functions are not showing up on one of them.

[2020-09-22 18:13] fabiocav commented on #983
@AnatoliB just transferred this to the templates repo. Are you planning o n making the changes, or do you need assistance with that?

[2020-09-25 15:30] runceel commented on #817
@soninaren
This is not the AppInsights issue.
The root cause is the following shibayan wrote.

Please change Azure Functions template file encoding to UTF-8 BOM from UTF-8 to fix this issue for non ascii users.

Thank you.

[2020-10-04 04:07] PhalanxHead opened #986 "F# Timer Trigger template gives "Missing Host.json""
Hi all!

Not sure if this is an issue with the sample or Azure Functions, but I had an issue following Aaron Powell's Azure Functions directions with Azure Functions Core Tools and the F# Timer Trigger Sample.
(https://www.aaron-powell.com/posts/2020-01-13-creating-azure-functions-in-fsharp/).

Basically, when I went to run it in vscode, after applying the vscode extension settings, I'd get an err

[2020-10-07 06:48] anthonychu opened #988 "Update .NET project files to copy local.settings.json only if exists"
Add a conditional, otherwise it fails when running msbuild in CI pipelines.

[code]

Edit: Looks like this might not work.

https://github.com/Azure/azure-functions-core-tools/issues/2252

[2020-10-27 20:40] amotl commented on #873
Hi there,

it would also be nice to see **output binding** templates all across the board, if that actually makes sense.

In order to outline more details about what we are working on: We consume messages from Event Hubs using Python and want to forward them to both [CrateDB](https://github.com/crate/crate) and Kafka.

In this regard, it would be good to see https://github.com/Azure/azure-function

[2020-10-28 19:52] Francisco-Gamino opened #992 "CheckResourceStrings should return “everything looks fine” if no string resources are missing after comparing"
CheckResourceStrings should return “everything looks fine” if no string resources are missing after comparing.

The current output
![image](https://user-images.githubusercontent.com/12720858/97489104-5b82a780-191c-11eb-84dd-89e140647266.png)

[2020-11-08 20:05] chadleong commented on #971
This has caused quite a headache for a beginner like myself. Took my awhile to figure out why my azure function isn't working.. should have checked the exception logs first thing but I was still figuring out the ApplicationInsights. This should be an urgent fix.

[2020-11-09 20:23] soninaren commented on #992
Fixed in this commit
https://github.com/Azure/azure-functions-templates/commit/cb4c850468a270028961028d91b4f6fc1826fa87

[2020-11-09 20:23] #992 closed

[2020-11-10 16:19] YaswantSaiKrishna commented on #971
Urgent fix required!!!

[2020-11-19 17:38] whaakman commented on #949
Experiencing the same same right now. Any update on this?

[2020-11-19 20:47] balag0 commented on #949
AppName would be helpful. You can use the instructions from https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately if required.

[2020-11-19 22:32] mattjohnsonpint opened #994 "Azure Functions templates not current in latest Visual Studio?"
I have VS 2019 16.8.2 latest, fully updated.  Creating a new Azure Function using the C# template includes this `host.json`:

[code]
The `samplingExcludedTypes` property is incorrect, and was fixed already in #937

Why am I still getting the older version of the template?

[2020-11-22 00:02] whaakman commented on #949
Just happened again. Might consider just running them on AKS. This is happening to often

have to go with the option 2 unfortunately to provide the data.
https://signupprocessor.azurewebsites.net/api/40e088e9-69b2-4c25-964c-3d2e9516ef4b
Sunday, November 22, 2020 12:00:50 AM

[2020-12-01 20:00] phenning opened #998 "New SDKs are still referencing older Item and Project templates in the feed."
SignalR item template appears to have the wrong resource id from the AccessRights symbol. This causes the long description to be displayed in Visual Studio instead of "Authorization level". Which results in undesired truncation of the string and other UI issues when this template is selected.

https://github.com/Azure/azure-functions-templates/blob/b967ff16e47a9ddbeeb3cf2cfe29d5cedb812004/Function

[2020-12-01 20:02] phenning commented on #998
@soninaren, we are mitigating one of the more severe side effects of this in 16.9, but the long description as showing in the template.json will still be displayed.   The template should be updated to point to the correct resource id.

[2020-12-01 20:32] soninaren commented on #998
@phenning, I am a bit confused here. So i had fixed the issue where description text was placed in the label. What is the fix needed in the resource id?

![image](https://user-images.githubusercontent.com/8119379/100793601-3c6eae00-33d1-11eb-925f-1315354bd9a4.png)

[2020-12-01 21:09] phenning commented on #998
@soninaren Sorry, the resource id is a red herring, I had seen the updated src and assumed that the long description string was being loaded from that resource.

What is actually happening is that the ItemTemplate entry hasn't been updated in the feed, the feed is still referencing 3.1.1582, even in the 3.15.0 release, while it looks like NuGet is still getting updated packages:

https://www.nuget

[2020-12-01 21:24] soninaren commented on #998
The templates have been deployed to NuGet. The feed is behind on the release. The next core tools / tooling feed release would automatically fetch the updated templates.

[2020-12-01 21:26] soninaren commented on #998
Going to close the issue since there is no code change required and next release should take care of the work here.

[2020-12-01 21:26] #998 closed

[2020-12-04 00:19] drdamour opened #1001 "Visual Studio Function Template host.json has samplingExcludedTypes"
When i start a new project of azure functions the host.json looks like this:
[code]

but samplingExcludedTypes is wrong per https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#applicationinsights it should look like
[code]

found this because i noticed that by default my Request were getting throttled/sampled even though they were excluded (supposedly).

this issue probably

[2020-12-10 19:15] anthonychu opened #1003 "Provide a way to install additional templates"
Would be great if templates in Core Tools and VS Code can be extensible. https://github.com/Azure/azure-functions-core-tools/issues/2341

[2020-12-22 00:23] MarkAtAgilliance commented on #939
Just found this - in my case, noticed the structure had changed from the above
[code]
to:
[code]
.....

Ref doc [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json)

If so, maybe close this as a documented schema change.  .

[2021-01-06 21:17] fabiocav commented on #1001
Assigning to sprint 93 for completion.

[2021-01-12 19:31] #1001 closed

[2021-01-27 23:54] TsuyoshiUshio opened #1014 "Object reference not set to an instance of an object for the template help for some resources."
I'm implementing the template, and found that `dotnet new TEMPLATE --help` will fails for some template.
It works for cosmos but not for `rqueue`  and `kafka` (this is on the PR branch)

[code]

[2021-01-28 00:02] TsuyoshiUshio commented on #1014
Move to https://github.com/dotnet/templating/issues/2790

[2021-01-28 00:02] #1014 closed

[2021-03-08 01:10] anthonychu opened #1028 "Durable orchestration appears twice in 2.x Python templates"
![image](https://user-images.githubusercontent.com/3982077/110262213-d6616c00-7f67-11eb-99cb-b461d49b4b1e.png)

Looks like it's because it is included twice:

https://github.com/Azure/azure-functions-templates/blob/5fe6dae42a2048794c89b62799e9892bd0ff7c7a/Build/PackageFiles/ExtensionBundleTemplates-2.x.nuspec#L203-L205

https://github.com/Azure/azure-functions-templates/blob/5fe6dae42a2048794c89b6

[2021-03-08 01:22] anthonychu opened #1030 "Add Python entity http start template"
Like this JavaScript one here:
https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/Templates/DurableFunctionsEntityHttpStart-JavaScript/

@davidmrdavid @bachuv

[2021-03-08 17:09] davidmrdavid commented on #1030
Thanks! Let's prioritize this post GA

[2021-03-11 00:30] prabh-62 opened #1034 "dotnet-isolated: remove static keyword from C# template"
## System Info

[code]

## Steps to reproduce

[code]

[code]

The newly created templates have `static` keyword in the class.

Is this a sensible default since, `dotnet-isolated` is a new worker compared to `dotnet` for which backwards compatibility is required?
Compared to ASP.NET Core, when creating new webapi (`dotnet new webapi`), there is no usage of `static` keyword in files created by defa

[2021-03-11 00:40] prabh-62 opened #1035 ".NET project: Enable nullable mode by default"
## System Info

[code]

## Steps to reproduce

[code]

``xml

<Project Sdk="Microsoft.NET.Sdk">
    <PropertyGroup>
        <TargetFramework>net5.0</TargetFramework>
        <LangVersion>preview</LangVersion>
        <AzureFunctionsVersion>v3</AzureFunctionsVersion>
        <OutputType>Exe</OutputType>
        <_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>

        <Nullable>enable</N

[2021-03-11 05:44] fabiocav commented on #1034
Good question. Perhaps this is something we can get some feedback on... this matches the previous model for consistency, but we've created the issue you've linked to so we can have a review of all of the individual templates. This issue is one of the things we want to review, but we'll start the discussion there with more items (e.g. constructor injection for logger creation, nameof() in a few pla

[2021-03-15 21:04] #1028 closed

[2021-03-20 06:47] alrod opened #1038 "C#(csx) template for EventHub extension needs to be changed"
v3 ExtensionBundle uses new version of EventHub  Microsoft.Azure.WebJobs.Extensions.EventHubs 5.0.0-beta.1:
https://github.com/Azure/azure-functions-extension-bundles/blob/v3.x/src/Microsoft.Azure.Functions.ExtensionBundle/extensions.json#L42

Current template is for Microsoft.Azure.WebJobs.Extensions.EventHubs 4.x.

Repro project:
[test.zip](https://github.com/Azure/azure-functions-templates/file

[2021-03-24 18:16] fabiocav commented on #1038
Link to the template that needs to be updated:

https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/Templates/EventHubTrigger-CSharp/EventHubTriggerCSharp.csx
https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/Templates/EventHubTrigger-CSharp/EventHubTriggerCSharp.cs

[2021-03-29 14:18] NicolasSchroeders opened #1039 "Powershell Queue Trigger: error"
I'm trying to read a message queue and get the parameters from this message queue to create a Sharepoint Online site.
I have an error when I try to use the following code in an Azure Function.

this line provoke an error
$requestBody = Get-Content $QueueItem -Raw | ConvertFrom-Json

ERROR: Cannot find path 'C:\home\site\wwwroot\System.Collections.Hashtable' because it does not exist. Exception : T

[2021-03-31 20:12] soninaren opened #1042 "Create a new HttpTrigger with OpenAPI template for precompiled templates"

[2021-04-01 09:16] DmytroVas commented on #983
Hi. Was it actually fixed, please? My freshly-made Azure function (powershell- Azure Queue Trigger template) gives the same error:
ERROR: Cannot find path 'C:\home\site\wwwroot\System.Collections.Hashtable' because it does not exist.

doesn't matter if  I use:
param([string]$QueueItem, $TriggerMetadata)
or
param([object]$QueueItem, $TriggerMetadata)
or
param($QueueItem, $TriggerMetadata)

Thanks.

[2021-04-01 16:32] AnatoliB commented on #983
@DmytroVas If omitting [string] does not work for you, something else is probably wrong with your code. How do you use this parameter exactly? If you code ends up relying on the ToString conversion anyway, directly or indirectly, this is the result you will keep getting.

[2021-04-08 02:13] soninaren commented on #1042
Addressed here
https://github.com/Azure/azure-functions-templates/commit/79fe4697b40a03c4a0ff0c6759fc82ca9aade61f
https://github.com/Azure/azure-functions-templates/commit/1bfaebec081d31c2d710ff6462c85365dbf6e98d

[2021-04-08 02:13] #1042 closed

[2021-04-21 20:26] TsuyoshiUshio opened #1047 "dotnet-isolated template doesn't include several extensions"
According to the test of latest func command, https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.3442 That doesn't include the following extensions.

![image](https://user-images.githubusercontent.com/1390976/115304291-a2a66400-a119-11eb-9be4-0ad8283f8f80.png)

* Durable Functions
* Kafka Extensions
* RabbitMQ Extensions

We need to contribute the following repo and update the ve

[2021-04-21 20:26] apawast commented on #1047
@TsuyoshiUshio are you planning to submit the PR with the templates?

[2021-04-29 15:53] pawel-zolty opened #1049 "InternalServerError when creating Microsoft.Web/sites/functions and Microsoft.Web/sites/functions/keys"
**Scenario**

I would like to define `Microsoft.Web/sites/functions`  and `Microsoft.Web/sites/functions/keys` resources in my ARM template. My purpose is to create function with predefined function key before I upload there some code.

**Environment**

My function App has linux consumption app service plan.
I use yaml pipeline at Azure Devops
My FunctionApp is already created and there is already

[2021-05-04 02:20] jimbobbennett opened #1052 "Add IoT Hub Python template"
There isn't a template for IoT Hub in Python, but the other languages are supported.

[2021-05-04 16:07] TsuyoshiUshio commented on #1047
Hi @apawast
Not yet. We are focusing on build work. After that Let's plan it!

[2021-05-04 16:33] jimbobbennett opened #1054 "Cannot build templates"
I'm trying to build the templates on macOS Big Sur, on an Apple M1 MBA. When I run `nom build app`, I get the following error:

[code]

[2021-05-04 17:38] flcdrg opened #1055 "Specify generated namespace with func init"
As someone creating a new project, I'd like the ability to be able to specify the namespace used when calling `func init`

Current if I use `func init Gardiner.Functions --worker-runtime dotnetisolated`, it correctly creates a subdirectory named `Gardiner.Functions`, but in the code it is using a default namespace of `Gardiner_Functions`, whereas in my case I would prefer `Gardiner.Functions`, and

[2021-05-04 22:44] soninaren commented on #1054
Unfortunately the template build is not cross platform. It uses Nuget.exe that would only work on a windows machine.

[2021-05-04 23:53] jimbobbennett commented on #1054
Nuget can run under Mono, but I guess the work to add this might be beyond the scope of this.

For the meanwhile, I've raised #1056 to update the README to indicate only Windows is supported to build this.

[2021-05-05 00:05] soninaren commented on #1054
Thanks for the PR. It might be better to try and remove the dependency on nuget.exe. Although it may not be that easy given that the repo needs to build dotnet templates which are nuget packages themselves.

[2021-05-05 00:05] #1054 closed

[2021-05-19 18:41] romerve commented on #952
Seems it's an issue with passing an existing File share as the value for WEBSITE_CONTENTSHARE

https://github.com/Azure/bicep/issues/2732

[2021-06-03 20:12] kwill-MSFT commented on #983
Any plans to fix this in the template?  I just spent too much time debugging this same issue.

[2021-06-03 22:07] AnatoliB commented on #983
@Francisco-Gamino Could you please take care of this?

[2021-06-03 22:24] Francisco-Gamino commented on #983
Will do @AnatoliB.

[2021-06-21 21:24] vijayrkn opened #1068 ".NET 5.0 isolated template for SignalR template has errors"
Creating on behalf of the VS customer - https://developercommunity.visualstudio.com/t/Azure-Function-for-SignalR-has-code-erro/1448794

When creating an Azure function with SignalR template in NET5, the created example marks three errors.

(1) Cannot implicitly convert type ‘System.Collections.Generic.Dictionary<string, string>’ to ‘Microsoft.Azure.Functions.Worker.Http.HttpHeadersCollection’
(2)

[2021-06-23 00:22] Francisco-Gamino opened #1070 "Investigate why OneLocBuild@2 is failing in and re-enable it"
As per Naren's suggestion, I am disabling this task for now.

[2021-06-23 00:22] Francisco-Gamino commented on #1070
cc: @soninaren

[2021-06-23 00:48] #983 closed

[2021-06-24 22:44] soninaren commented on #1038
Fixed in this commit
https://github.com/Azure/azure-functions-templates/commit/44e0f3b1fa8755922044389f02a5e86f2645ddfe

[2021-06-24 22:44] #1038 closed

[2021-06-25 18:34] fabiocav opened #1071 "Update V1 templates to target .NET Framework 4.8"
To meet tooling requirements, we should be updating our V1 templates to .NET Framework 4.8.

[2021-06-29 12:23] soninaren commented on #1071
Fixed in the commit
https://github.com/Azure/azure-functions-templates/commit/60e087805b6cb199358b3879f6e08c295b2d6171

[2021-06-29 12:23] #1071 closed

[2021-08-03 00:47] AnatoliB opened #1075 "Durable function templates for PowerShell use old command names"
The Durable commands have been renamed by https://github.com/Azure/azure-functions-powershell-worker/pull/625, but the templates still refer to the old names:

**Old name** | **New name**
--- | ---
Invoke-ActivityFunction | Invoke-DurableActivity
New-OrchestrationCheckStatusResponse | New-DurableOrchestrationCheckStatusResponse
Start-NewOrchestration | Start-DurableOrchestration

This does not aff

[2021-08-03 14:38] WestDiscGolf opened #1076 "Azure Functions CLI Tooling Errors with latest .NET 6 Preview installed"
When using the Azure Function CLI, unable to create a new C# based Azure Function through `func new` functionality.

## .NET SDKs installed

C:\Temp\azure-issues> dotnet --list-sdks
2.2.401 [C:\Program Files\dotnet\sdk]
3.1.301 [C:\Program Files\dotnet\sdk]
3.1.406 [C:\Program Files\dotnet\sdk]
5.0.103 [C:\Program Files\dotnet\sdk]
5.0.302 [C:\Program Files\dotnet\sdk]
5.0.400-preview.21328.4 [C:\

[2021-08-07 20:13] #904 closed

[2021-08-11 20:25] sinedied opened #1078 "Default template for new functions is misleading and not encouraging best practices"
When a new function template is created (new project or just a new function), from CLI or VS Code extension, by default it's configured to respond to GET and POST requests, which is confusing for many newcomers and annoying for experienced users.

You rarely want to write such a function beyond an hello world example, as you usually prefer to have one function per verb (and it's also a best practi

[2021-08-12 07:34] WestDiscGolf commented on #1076
Updated to the latest preview, both .net 6 and core functions v4, and still experiencing the same issue.

C:\Temp\azure-issues> func new
Use the up/down arrow keys to select a template:Function name: TestForIssue2
TestForIssue2
No templates found matching: 'HttpTrigger'.

To list installed templates, run:
   dotnet new --list
To search for the templates on NuGet.org, run:
   dotnet new HttpTrigger

[2021-08-12 07:38] WestDiscGolf commented on #1076
Adding the global json file work around posted in the original issue body I linked to on my blog doesn't work for the v6 version either.

C:\Temp\azure-issues> dotnet new globaljson
The template "global.json file" was created successfully.
C:\Temp\azure-issues> explorer .
C:\Temp\azure-issues> func new
Use the up/down arrow keys to select a template:Function name: Test
Test
No templates found matc

[2021-08-12 07:57] WestDiscGolf commented on #1076
Doesn't work on a linux container in Github codespaces either.

[code]

[2021-08-12 07:57] WestDiscGolf commented on #1076
@anthonychu

[2021-08-17 03:58] anthonychu commented on #1076
@fabiocav can you please take a look?

[2021-08-18 20:15] soninaren opened #1087 "Upload template artifacts for bundles on build from release branches"

[2021-08-18 20:15] soninaren opened #1088 "Upload last successful build information on release branches to storage"

[2021-08-18 21:25] vijayrkn opened #1089 "[Feedback] On a nullable project, Generated Windows Azure Function will create a null exception in code"
[severity:I’m unable to use this version]
Just Create a Windows Azure Function type with a HTTP function. Then the generated code will contain code that is not nullable.

See //!!! line below…

[code]

Created on behalf of the VS customer. More details can be found in the developer community link - https://developercommunity.visualstudio.com/t/On-a-nullable-project-Generated-Windows/1503794

[2021-08-18 21:26] vijayrkn commented on #1089
Enabling nullable on the project creates a warning:
[code]

[2021-08-21 21:47] cataggar commented on #988
In F#, this does work for me. The difference is that F# is `Include`, not `Update`.

[code]

[2021-08-22 02:47] soninaren commented on #1070
https://github.com/Azure/azure-functions-templates/commit/13a1a6b52e01bcd097a4b62be926ce9ca9324b24

[2021-08-22 02:47] #1070 closed

[2021-08-22 02:52] soninaren commented on #1088
addressed here
https://github.com/Azure/azure-functions-templates/commit/215bce1e64fd2dd8fb35a3ad5bd9dd256e55735f

[2021-08-22 02:52] #1088 closed

[2021-08-22 02:52] soninaren commented on #1087
addressed here
https://github.com/Azure/azure-functions-templates/commit/215bce1e64fd2dd8fb35a3ad5bd9dd256e55735f

[2021-08-22 02:52] #1087 closed

[2021-09-07 03:31] PeterAronZentai commented on #1076
Folks, any update on this?

[2021-09-08 20:21] fabiocav commented on #1078
This is reasonable. @anthonychu any concerns? I'll have this added to the engineering backlog, but it would be good to get your input.

@AnatoliB FYI, if we do this, ideally, this would apply to all languages.

[2021-09-13 07:42] anthonychu commented on #1078
\+ @ggailey777 for impact on docs

[2021-09-13 21:43] anthonychu commented on #1076
A new version of Core Tools V4 with a fix has been published. This is currently available on npm: `npm install -g azure-functions-core-tools@4`.

[2021-09-13 21:48] brettsam commented on #1076
To link things together -- this was fixed in https://github.com/Azure/azure-functions-core-tools/pull/2693. Root cause was https://github.com/dotnet/templating/issues/3779 and we had to switch to using shortnames for templates internally.

[2021-09-13 21:48] #1076 closed

[2021-09-14 18:08] mabasic opened #1096 "F# template fo"

[2021-09-15 00:09] aaronpowell commented on #988
Linking with PR #954 which shows a possible solution but has context as to the underlying issue

[2021-09-15 11:58] mabasic commented on #1096
Pinging @soninaren and @fabiocav to take a look at this collection of issues regarding F# azure functions.

[2021-09-16 18:53] paulbatum opened #1097 "Update Functions V4 item templates to use newest extension packages"
The templates are referencing quite old NuGet packages and need to be updated. I recommend that at a minimum, the packages reference the versions described in this breaking change:
https://github.com/Azure/Azure-Functions/issues/1987

[2021-09-23 13:11] WestDiscGolf opened #1106 "Error raised when creating new HttpTrigger function on CLI v4"
As per @anthonychu's blog post - https://techcommunity.microsoft.com/t5/apps-on-azure/announcing-azure-functions-4-0-public-preview-with-net-6-support/ba-p/2772098 - I have updated my v4 core tools.

On creating a new HttpTrigger function I receive the following error:

[code]

**Steps to reproduce**

1. cd c:\temp
2. mkdir functions8
3. cd functions8
4. func init --worker-runtime dotnetIsolated
5

[2021-09-25 20:40] anthonychu commented on #1106
Thanks for reporting. @brettsam @soninaren can we suppress this message?

[2021-09-27 22:56] #1075 closed

[2021-09-29 15:39] brettsam commented on #1106
@soninaren -- do you know where that comes from?

[2021-09-29 18:19] soninaren commented on #1106
"Post action" is something that is supported by dotnet templating engine. The action by the `post action` is going to do is "Opening a newly created file in editor". This action opens the newly created function file in editor. It is not applicate to dotnet cli (used by core tools) as there is no editor. There might be a change in dotnet templating that shows a warning if we try to invoke the post

[2021-09-29 20:06] fabiocav commented on #1097
This is in progress, on track to finish in 110.

[2021-09-29 21:01] surgupta-msft commented on #1097
Merged the PR linked with this. Closing the issue.

[2021-09-29 21:02] #1097 closed

[2021-10-01 08:37] WestDiscGolf commented on #1106
@soninaren It doesn't appear to effect the creation of the function file in the limited testing I have done however it is a little concerning when you see something displayed which looks on first glance as an error. The "not supported" warning should not be outputted to the console window.

[2021-10-06 08:09] WestDiscGolf commented on #1106
Interestingly, well I thought it was, I just ran the same command in the developer terminal inside Visual Studio 2022 Preview 4.1 half expecting the post action to execute and open the newly creating function in the IDE instance but the same error occurred.

[code]

[2021-10-07 15:43] soninaren commented on #1106
This is expected. If the command was executed via dotnet cli, regardless of the kind of terminal window.

The only time this post action actually takes effect is when it is run via the VS UI. So if you add a function to your project via VS, `right click csproj -> Add a function -> (follow wizard until function creation)`. This is when you would see the newly created function in editor.

[2021-10-13 17:39] mattchenderson opened #1110 "Update Event Hubs templates for new .NET types in 5.0.0 extension"
The .NET Event Hubs templates use `EventData`. The namespace for the SDK is different when using the 5.0.0 extension, as has the shape of some of the properties used by the template (e.g., `Body`) . See https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs-trigger?tabs=csharp#usage

This affects:
- https://github.com/Azure/azure-functions-templates/blob/dev/Functions

[2021-10-13 17:39] mattchenderson opened #1111 "Update Event Grid templates for new .NET types in 3.0.0 extension"
The .NET Event Grid templates use `EventGridEvent`. The namespace for the SDK is different when using the 3.0.0 extension. See https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid-trigger?tabs=csharp%2Cbash#usage

This affects:
- https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/Templates/EventGridTrigger-CSharp/EventGridTriggerCSharp.c

[2021-10-13 18:52] mattchenderson opened #1112 "Update templates.json for Blob templates to use 5.0.0 extension version"
The package references for all blob templates should be updated to use the new extension version.

[2021-10-13 18:53] mattchenderson opened #1113 "Update template.json for Queue templates to use 5.0.0 extension version"
The package references for all queue templates should be updated to use the new extension version.

[2021-10-13 18:54] mattchenderson opened #1114 "Update templates.json for Event Hubs templates to use 5.0.0 extension version"
The package references for all Event Hubs templates should be updated to use the new extension version.

[2021-10-13 18:55] mattchenderson opened #1115 "Update templates.json for Service Bus templates to use 5.0.0 extension version"
The package references for all Service Bus templates should be updated to use the new extension version.

[2021-10-13 18:56] mattchenderson opened #1116 "Update templates.json for Event Grid templates to use 3.0.0 extension version"
The package references for all Event Grid templates should be updated to use the new extension version

[2021-10-15 23:32] mattchenderson opened #1119 "Tracking item for V3 Bundle release on main ID"
Right now, the V3 bundle is on the `Microsoft.Azure.Functions.ExtensionBundle.Preview` ID

But we will need to get it on `Microsoft.Azure.Functions.ExtensionBundle` once the included packages are non-preview.

[2021-11-08 19:04] aggieben commented on #1096
@mabasic Thank you so much for powering through this writing up this thorough explanation and resource list.  This has been tremendously helpful to me working on the same thing!

[2021-11-12 21:18] mattchenderson opened #1143 "Service Bus Queue Trigger has invalid `static` keyword"
Discovered in VS 2022 working on a V4 (.NET 6, in-proc) functions project.

This is an issue since it also includes instance method declarations:

https://github.com/Azure/azure-functions-templates/blob/319af8714802393f5ff5b01967f45c58d6ccdbcc/Functions.Templates/Templates/ServiceBusQueueTrigger-CSharp/ServiceBusQueueTriggerCSharp.cs#L8-L11

[2021-11-24 20:32] jeremyfiel opened #1147 "HTTP Trigger from OpenAPI spec for JavaScript"
Hello,

I've seen the template from OpenAPI in preview for TypeScript for some time but I'm curious if you will extend that template to vanilla JS at some point?

thanks

[2021-12-08 22:32] anthonychu opened #1152 "Durable Functions Python - duplicated orchestration templates, missing entity HTTP"
![image](https://user-images.githubusercontent.com/3982077/145298496-1889f6a7-c329-49a3-84d0-bd1b56a603fc.png)

[code]

Also, `DurableFunctionsEntityHttpStart-Python` is [missing](https://github.com/Azure/azure-functions-templates/tree/dev/Functions.Templates/Templates).

/cc @davidmrdavid

[2021-12-10 21:24] satvu commented on #1106
Closing for now since the fix has been merged

[2021-12-10 21:24] #1106 closed

[2021-12-13 12:26] liliankasem commented on #935
Hi @estensen, appreciate the stackoverflow link but could you add a little more detail to the issue? I'm not exactly sure what is being asked for here. Is it specifically about this issue https://github.com/Azure/Azure-Functions/issues/1177, which appears to have been closed out but opened in the FSharp repo https://github.com/dotnet/fsharp/issues/8914, or the entire thread? Thanks!

[2021-12-13 12:33] liliankasem commented on #939
Sounds like this is a documented change, I'll close it out. Feel free to reopen if I missed something!

[2021-12-13 12:33] #939 closed

[2021-12-13 12:37] liliankasem commented on #941
@fabiocav or @ejizba any idea where the right place is for this issue to be triaged?

[2021-12-13 12:48] liliankasem commented on #945
Hey @aggieben it seems like this issue is being tracked through the issues listed below, okay to close this one?

- https://github.com/Azure/azure-functions-core-tools/issues/1963
- https://github.com/Azure/azure-functions-templates/issues/1096

[2021-12-13 12:49] liliankasem commented on #948
@Gandalf8081 Can you add more details to this issue? The title is very vague

[2021-12-13 12:52] liliankasem commented on #949
@mahdyahmed85 is this still an issue? Did recreating the app solve the problem? If not, as @balag0 commented, please provide more details about your function app so we can investigate

[2021-12-13 13:01] liliankasem commented on #952
@vllama can you provide more detail about which template in this repo you're referring to so that we can investigate?

Also, did this workaround work for you? https://github.com/Azure/bicep/issues/2732#issuecomment-943841583

[2021-12-13 14:55] liliankasem commented on #1052
@vrdmr Is this something your team can help with?

[2021-12-13 15:03] liliankasem commented on #971
Looks like this was fixed here https://github.com/Azure/azure-functions-templates/commit/949085f239ba6f457a6aef636cd2121ae905785c

[2021-12-13 15:03] #971 closed

[2021-12-13 15:12] liliankasem commented on #975
@regexrowboat are you still having this problem? It seems to be auth related, does this [troubleshooting guide for WebDeploy](https://docs.microsoft.com/en-us/iis/publish/troubleshooting-web-deploy/troubleshooting-web-deploy-problems-with-visual-studio#errors-with-delegation-rules) help?

We can investigate but I'm not sure it is an issue with the functions ARM template

[2021-12-13 15:30] liliankasem commented on #1068
Was able to repro this issue, will add to the host project so it can be addressed in one of our upcoming sprints

[2021-12-13 15:36] liliankasem commented on #994
Looks like this has been addressed now, this is the host file I see when I create a new C# function app in Visual Studio 2019:

[code]

Please reopen if you're still seeing this issue!

[2021-12-13 15:36] #994 closed

[2021-12-13 15:41] liliankasem commented on #1096
Thanks for the great write up, looks like the F# projects need some work. I'll make sure to bring up this issue in the next planning session.

cc: @fabiocav

[2021-12-13 15:59] liliankasem commented on #986
@PhalanxHead It looks like this is related to these issues so I'm going to mark as a duplicate and close this one out. We'll continue to track the below issues and try to fix the templates; this is a general F# template issue rather than just the timer trigger

- https://github.com/Azure/azure-functions-templates/issues/988
- https://github.com/Azure/azure-functions-templates/pull/954
- https://gi

[2021-12-13 15:59] #986 closed

[2021-12-13 16:12] liliankasem commented on #1089
Hello, I don't think this is a huge deal. Even if data is null, we are checking for this here `string.IsNullOrEmpty(name)`, so there shouldn't be any errors in the code.

I'm also not seeing a warning when I build the sample:

[code]

What's the real issue they would like fixed? This is just a sample and warnings shouldn't stop users from building and running the function app so I'm not sure I und

[2021-12-13 17:39] ejizba commented on #941
@anthonychu do we still want to do this or should we close in favor of https://github.com/Azure/azure-functions-nodejs-worker/issues/480?

[2021-12-14 21:41] soninaren opened #1153 "Allow wild cards to be used for referencing extension versions in dotnet templates"
Dotnet precompiled templates right now are required to have static reference to an extension package. This basically means that every time there is an extension update, the extension authors are required to update the templates. This results in either customer using an old version of extension or an engineering cost on authors to constantly update the template.

The proposed solution here is to al

[2021-12-15 22:03] kashimiz commented on #1096
It sounds like there are multiple issues with the F# experience, including:

* insufficient/outdated documentation - documentation should be matched with actual implementation happening
* (possibly) broken templates - need to verify whether current templates work/are valid

Requires investigation to identify work items involved, but this will probably be an epic.

[2021-12-20 04:42] aaronpowell commented on #1096
@kashimiz I'm happy to help out on some of those front, I've got a bunch of stuff deployed running F#.

Regarding templates - I've just had merged a PR that brings in templates for dotnet-isolated (#1074) as well as better support for creating F# projects using the Functions CLI (https://github.com/Azure/azure-functions-core-tools/pull/2667).

I've previously spoken with @craigshoemaker around F#

[2021-12-20 14:01] #952 closed

[2021-12-20 14:01] #949 closed

[2021-12-20 14:01] #948 closed

[2021-12-20 14:01] #935 closed

[2021-12-20 17:01] #975 closed

[2021-12-20 20:01] #1089 closed

[2022-01-12 21:26] fabiocav commented on #966
@AnatoliB thoughts on this? This seems to make sense.

[2022-01-12 21:29] fabiocav commented on #1068
@anthonychu @cachai2 can you help with assignment here? If unclear, we can try to assign this on our end. Thanks!

[2022-01-12 21:33] fabiocav commented on #1034
This has been done for v4, so the experience targeting the new runtime now follows this recommendation.

Thanks!

[2022-01-12 21:33] #1034 closed

[2022-01-12 21:34] AnatoliB commented on #966
I agree the current name is confusing. I'm not sure about the proposed name though, as "Starter" may be also interpreted as "the starter function only". @anthonychu, what do you think?

[2022-01-12 21:38] fabiocav commented on #1049
@pawel-zolty apologies for the delay here.

Can you please share more information about your scenario? Are you trying to deploy the function payload as part of your ARM deployment? If so, the recommendation for this is to reference a blob/package URL and use "run from package".

For the key management, this should be supported in ARM. Are you still experiencing issues with that?

@mattchenderson w

[2022-01-17 23:23] anthonychu commented on #1068
Likely needs a repro to investigate further.

[2022-01-17 23:26] anthonychu commented on #966
Agree that it could use a better name but also agree that "starter" would be confusing in this context.

[2022-01-18 18:52] liliankasem commented on #1068
Here's the repro I created in December: https://github.com/liliankasem/repro-dotnet5-signalr-template

I did try recreating the issue today and didn't see any problems so this may have already been fixed since then.

[2022-01-20 21:54] fabiocav commented on #1068
@anthonychu let us know if you can engage the right folks here, otherwise; we can get this assigned

[2022-01-20 23:01] YunchuWang opened #1157 "bindings.json is out of sync with Azure Functions Documentation"
For TimerTrigger, in bindings.json, runOnStartup and useMonitor are not present but they are present in https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp

Unsure what other bindings may be out of sync with documentation. Please investigate.

[2022-01-20 23:27] wwlorey opened #1158 "PowerShell Durable Templates still say preview"
Issue Type: Bug

The Powershell Durable Tasks are GA but they still say preview in the Create Function Dialog

![image](https://user-images.githubusercontent.com/15258962/143819612-b326c11f-dd1e-48ea-93fe-e1cce7e5a476.png)

Extension version: 1.6.0
VS Code version: Code - Insiders 1.63.0-insider (d18d093403b12a65350c58a7b0d5771cc1f42aba, 2021-11-26T08:21:30.810Z)
OS version: Windows_NT x64 10.0.22

[2022-01-20 23:30] wwlorey opened #1159 "'Run': cannot declare instance members in a static class"
Originally posted by @titouancreach in https://github.com/microsoft/vscode-azurefunctions/issues/3012#issue-1066919604

[2022-01-21 22:29] michaelpeng36 opened #1161 "PowerShell spelled improperly in RabbitMQTrigger-PowerShell/metadata.json"
In the `metadata.json` file for the RabbitMQTrigger, language is listed as `Powershell` when it should be `PowerShell`. This results in grouping issues when templates are listed on Core Tools (see [this issue](https://github.com/Azure/azure-functions-core-tools/issues/2891)).

[2022-01-26 21:30] anthonychu commented on #1068
Thanks @liliankasem. I can also confirm that it seems to be working fine.

The template does need some updating so it returns a response compatible with what's expected from a negotiate endpoint, but it appears to work fine without any errors.

[2022-01-26 21:34] liliankasem commented on #966
@AnatoliB @anthonychu any thoughts on next steps to address this, we don't think it's part of the host project but should be tracked somewhere?

[2022-01-26 21:41] liliankasem commented on #1068
It appears we are no longer able to repro with the same errors so we'll close the issue. Let us know if you're still facing this problem with the latest tools.

[2022-01-26 21:41] #1068 closed

[2022-01-26 23:30] mathewc commented on #1157
Both of these Timer properties are considered advanced, and most customers shouldn't need to use them. Likely that's why we decided to not promote them to first class UI. Indeed, see the warnings on RunOnStartup in the doc.

[2022-01-27 21:28] AnatoliB commented on #966
@softchris Please note that the template is called DurableFunctionsOrchestrat**ion**, and not DurableFunctionsOrchestrat**or**. There is a difference between _orchestrator_ and _orchestration,_ even though these terms look similar:
- [Orchestrator](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-types-features-overview#orchestrator-functions) is a function type. On

[2022-01-27 22:23] cgillum commented on #966
I think I mostly agree with what everyone has said so far. However, I do like the suggestion of "DurableFunctionsStarter". I agree it's ambiguous with the "[client](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-types-features-overview#client-functions)" function that's often used to "start" durable orchestrations, but I actually feel it's less ambiguous since the

[2022-02-04 09:32] rsr-maersk opened #1163 "Warning: Value must conform to exactly one of the associated schemas for servicebus v5.2+"
Hi

I am i doing something wrong?
I followed https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus
"Additional settings for version 5.x+"
but get a build warning. And build warns block our build

Anything we should do?

![image](https://user-images.githubusercontent.com/76153851/152505527-8bc22627-d91b-4d28-8f4a-aa37b9c92591.png)

[2022-03-02 15:53] matei-tm commented on #1159
The issue is a duplicate for #1143

[2022-03-04 01:01] kshyju opened #1172 "Service bus trigger boiler plate code is incorrect"
The boiler plate code generated for a service bus trigger in a V4 in-proc app is not correct.  The class is static, but the function method is not. It causes [Compiler Error CS0708](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0708?f1url=%3FappId%3Droslyn%26k%3Dk(CS0708)) and the function app project cannot be built.

I was using Visual studio version 17.1.0. To reproduce, Use "Add-> New

[2022-03-04 01:30] kshyju opened #1174 "Few consistency issues in boiler plate code generated for in-proc"
### Issue 1
For v4 in-proc, the boilerplate code created for different trigger types are not consistent, some triggers have static class and static method while some are not.

Here are couple of ones I checked. I did not check all (Ex: signalr, rabbitmq etc).

Trigger type | Class | Method
-- | -- | --
Http | Static | Static
Blob | Non static | Instance
Queue | Non   static | Instance
Cosmos | Sta

[2022-03-18 19:50] mattchenderson opened #1186 "Project Templates needed for .NET Standard 2.0 isolated worker"
We need new .NET project templates for .NET Standard 2.0 in an isolated worker model. These should not go directly into the tooling feed initially.

Ideally, these should largely align with templates for isolated in general. The main difference would be the TFM specified in the .csproj, I think.

[2022-03-24 23:05] soninaren opened #1189 "Create a new versions of bindings.json file that align with each of the bundles catered by the repository"
Right now the file [bindings.json](https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/Bindings/bindings.json) is just a single that serves all the templates and bundles. With bundle v3 and v4 the metadata for each of the bindings is likely to be different for several bindings and we would need to generate a new bindings.json file to reflect that.

[2022-04-25 10:03] lijithomas88 opened #1197 "Azure function blob trigger not triggering for a particular blob path"
Hi Team,

Azure function Blob trigger (dotnet script-created from azure portal itself) is not triggering for a particular blob path. For remaining blob paths, it is triggering.

Blob trigger  is not working when container path is - **tenants/tenants/tenant294178/DivT_PI12_eMobility**
For every other container path , this blob trigger is working.
Please help. Code in Run.csx file is added below.

#

[2022-05-19 13:23] soninaren opened #1216 "Add localization support for dotnet templates"

[2022-05-25 21:04] diberry opened #1219 "Azure Storage Queue trigger param can be string but can also be JSON - please fix type"
https://github.com/Azure/azure-functions-templates/pull/1218

[2022-05-30 14:16] dfberry opened #1223 "Add try/catch to templates"
Please add proper try/catch to function templates including non-http trigger functions

[2022-05-31 22:06] ggailey777 opened #1224 "C# in-process templates should create instance instead of static functions"
As [this customer points out](https://github.com/MicrosoftDocs/azure-docs/pull/90417), C# isolated functions should be generated as instance methods/classes instead of as static, which makes it easier for customers to implement DI based on generated function code.  @fabiocav @mattchenderson @cloudmelon

[2022-06-14 01:13] cloudmelon opened #1225 "Update templates for isolated Azure functiuons .NET 6/7, .NET framework 4.8"
We need new .NET project templates for .NET 6/7, .NET framework 4.8 in an isolated worker model. These should not go directly into the tooling feed initially.

Ideally, these should largely align with templates for isolated in general. The main difference would be the TFM specified in the .csproj.

.NET 6
.NET 7
.NET framework 4.8

[2022-06-14 17:33] kshyju opened #1226 "Inproc - EventHub trigger boiler plate code produces compilation error"
The boiler plate code created when creating a new Net 6 In-proc Azure function Event hub trigger produces a build error.

![InProcFunctionCreate](https://user-images.githubusercontent.com/144469/173639761-68c99afd-8052-49f7-ba61-99ac7dbd6e09.png)
![InProcFunctionCompileError](https://user-images.githubusercontent.com/144469/173639783-2719469d-3c97-4d1e-9d3c-017f197cce53.png)

The property name use

[2022-06-15 00:00] #1226 closed

[2022-06-22 20:36] fabiocav opened #1229 ".NET Framework 4.8 Templates"
Issue tracking creation of .NET Framework 4.8 templates for the Isolated Worker.

The templates should go under a new folder named net48 under https://github.com/Azure/azure-functions-templates/tree/dev/Functions.Templates/ProjectTemplate_v4.x/CSharp-Isolated

[2022-06-22 20:36] fabiocav opened #1230 ".NET 7 Templates"
Issue tracking creation of .NET 7 templates for the Isolated Worker.

The templates should go under a new folder named net7.0 under https://github.com/Azure/azure-functions-templates/tree/dev/Functions.Templates/ProjectTemplate_v4.x/CSharp-Isolated

[2022-06-22 20:36] fabiocav opened #1231 "Restructure the templates to group by version target"
Issue tracking the work to restructure templates for .NET Isolated based on targets

The primary work associated with this issue is moving the .NET 6 to a folder named net6.0 under https://github.com/Azure/azure-functions-templates/tree/dev/Functions.Templates/ProjectTemplate_v4.x/CSharp-Isolated

[2022-06-29 20:56] fabiocav commented on #1186
This was the templates issue tracking the work: https://github.com/Azure/azure-functions-templates/issues/1229

The changes have been merged. Closing as resolved.

[2022-06-29 20:56] #1186 closed

[2022-07-06 20:15] fabiocav commented on #1230
The changes in https://github.com/Azure/azure-functions-templates/pull/1240 are being validated.

[2022-07-06 20:16] fabiocav commented on #1229
Also pending validation of https://github.com/Azure/azure-functions-templates/pull/1240

[2022-07-07 18:41] #1230 closed

[2022-07-07 18:41] #1229 closed

[2022-07-11 20:51] davidmrdavid commented on #1152
The duplicated orchestration templates has indeed been fixed.
But it seems we still haven't created the EntityHttpStart template. Let me prioritize that.

[2022-07-13 17:40] phenning opened #1242 "Accelerator keys should be defined for template parameters"
For example, in https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/Templates/CosmosDBTrigger-CSharp-Isolated/.template.config/vs-2017.3.host.json, the

text should include _ to indicate the accelerator

[code]

[2022-07-29 20:32] microsoft-github-policy-service[bot] opened #1246 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-08-05 13:39] renenaplava commented on #842
I believe I've found the root cause of this issue. The problem is with the key itself. From my observation, it can't contain underscore character (_). For example, when my key was something like **j1_kR-jfskmp_cSzrjBJ...** I got the same error every deployment. But regenerating the key to something without the underscore solved the problem!!!

[2022-08-24 20:41] fabiocav commented on #1113
@mattchenderson I've updated the title, but wanted to validate this is what you were referring to: https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/Templates/QueueTrigger-CSharp-4.x/.template.config/template.json

[2022-08-24 20:46] fabiocav commented on #1110
@AnatoliB would you be able to have this assigned? @soninaren would be able to provide assistance here if needed.

[2022-08-24 20:47] fabiocav commented on #1114
@AnatoliB would you be able to have this assigned? @soninaren would be able to provide assistance here if needed.

[2022-08-24 20:47] fabiocav commented on #1115
@AnatoliB would you be able to have this assigned? @soninaren would be able to provide assistance here if needed.

[2022-08-24 23:52] vercellone opened #1249 "XML sample.dat does not work"
For several PowerShell functions I included sample.dat files which contain CliXML, and the Run text box in the portal is empty.  How should XML/HTML be formatted in the sample.dat file in order to render properly?

[2022-08-25 20:54] mattchenderson commented on #1113
Correct

[2022-08-31 21:16] fabiocav commented on #1112
@AnatoliB is this something your team is maintaining or would that be Josh?

[2022-08-31 21:18] fabiocav commented on #1116
@AnatoliB assigning some of these extension template update items to you for triage.

[2022-09-07 01:28] jimbobbennett opened #1250 "EventHub trigger for Python has wrong cardinality"
When creating an event hub trigger using Python, there is a cardinality mismatch.

The `function.json` has the following:

[code]

Notice `"cardinality": "many"`/

In the code in `__init__.py`, the expected cardinality is 1:

[code]

This needs to be fixed - the previous version had the correct cardinality:

[code]

As this stands, creating an event hub trigger produces a broken trigger.

[2022-09-21 19:38] shreyabatra4 commented on #1114
Hi @JoshLove-msft, can you please help to take a look at this issue for defaulting new function applications to Track 2 extensions? The requested action is to update the templates such that they refer to the extension bundle version "[3.*, 4.0.0)" in the file 'host.json'. and to update the nuget references in the Track 2 templates for .NET to reference the Track 2 extensions.

[2022-09-21 19:39] shreyabatra4 commented on #1116
Hi @JoshLove-msft, can you please help to take a look at this issue for defaulting new function applications to Track 2 extensions? The requested action is the same as for EventHubs (issue #1114) -  to update the templates such that they refer to the extension bundle version "[3.*, 4.0.0)" in the file 'host.json'. and to update the nuget references in the Track 2 templates for .NET to reference th

[2022-09-21 19:40] shreyabatra4 commented on #1115
Hi @JoshLove-msft, can you please help to take a look at this issue for defaulting new function applications to Track 2 extensions? The requested action is the same as for EventHubs (issue #1114) -  to update the templates such that they refer to the extension bundle version "[3.*, 4.0.0)" in the file 'host.json'. and to update the nuget references in the Track 2 templates for .NET to reference th

[2022-09-21 19:49] JoshLove-msft commented on #1115
Hi @shreyabatra4,
I'm happy to help but it doesn't look like there is enough context for me to get started. Can you please provide an end-to-end example of one template that has been updated?

[2022-09-21 20:06] shreyabatra4 commented on #1113
Hi @jaschrep-msft, can you please help to take a look at this issue for defaulting new function applications to Track 2 extensions? The requested action is to update the templates such that they refer to the extension bundle version "[3.*, 4.0.0)" in the file 'host.json'. and to update the nuget references in the Track 2 templates for .NET to reference the Track 2 extensions.

[2022-09-21 20:07] shreyabatra4 commented on #1112
Hi @jaschrep-msft, can you please help to take a look at this issue for defaulting new function applications to Track 2 extensions? Similar to issue #1113, The requested action is to update the templates such that they refer to the extension bundle version "[3.*, 4.0.0)" in the file 'host.json'. and to update the nuget references in the Track 2 templates for .NET to reference the Track 2 extension

[2022-09-23 04:25] shreyabatra4 commented on #1115
Hi @soninaren, would it be possible to provide a previous PR that included similar changes as an end to end example?

[2022-10-05 20:46] soninaren commented on #1115
Here is sample PR with changes https://github.com/Azure/azure-functions-templates/pull/1162

[2022-10-12 09:17] soninaren opened #1263 "Generate templates for bundle v4"
- Set up templates repo to generate templates for bundle v4.x
    - Create bundle v4 nuspec file
- Add / Remove unnecessary templates
- Run a test build to verify tempaltes are generated

Related to https://github.com/Azure/azure-functions-extension-bundles/issues/204

[2022-10-12 19:35] soninaren commented on #1263
Addressed here
https://github.com/Azure/azure-functions-templates/commit/33fa49d2538614f57bad0dde5dc1049a40548a2a

[2022-10-12 19:35] #1263 closed

[2022-11-14 15:03] phenning opened #1285 "Consider updating text in kafia output template"
In https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/Templates/KafkaOutput-CSharp/.template.config/vs-2017.3.host.json, consider updating "SASL_SCRAM" to "SASL-SCRAM" or similar to prevent issue with incorrectly interpreted accelerators in VS UI:

![image](https://user-images.githubusercontent.com/2433750/201693229-9f7af516-5212-457f-a095-d812a4bd0a32.png)

From the D

[2022-11-14 19:11] jviau opened #1286 "Update/add templates for durable functions dotnet-isolated"
This issue is to track the work required for updating/adding templates as necessary for durable functions in dotnet isolated.

[2022-11-28 19:36] #1246 closed

[2022-11-29 05:34] cloudmelon commented on #1231
@fabiocav @soninaren I believe this is done ? Let me know if we can close this item ? Thanks